<template>
  <legend class="w-full relative">
    <span 
      v-show="label !== ''"
      class="text-sm px-1 select-none"
    >
      {{ label }}
    </span>


    <div class="flex border rounded">
      <div 
        v-if="prefix !== ''"
        class="flex items-center justify-center px-2 py-1 bg-gray-300"
      >
        <span class="text-gray-600">
          {{ prefix }}
        </span>
      </div>

      <slot name="prefix">
      </slot>

      <div class="flex w-full relative h-10 items-center bg-gray-200">
        <input 
          :type="type === 'password' ? (showPassord ? 'text' : 'password') : type"
          :placeholder="placeholder"
          :value="textValue"
          @input="inputChange" 
          @keydown="onKeyDown"
          @focus="errorMessage = ''"
          @blur="onBlur"
          :disabled="disabled"
          autocomplete="off"
          :readonly="readonly"
          class="flex w-full absolute inset-0 px-2 py-1 rounded b focus:outline-none"
          :class="[readonly?'bg-gray-200 text-gray-700':'']"
        >

        <div 
          v-if="type === 'password'" 
          class="flex absolute right-0 px-2 cursor-pointer"
          @click="showPassord = !showPassord"
        >
          <!-- <IconSeen 
            v-if="showPassord" 
            class="fill-current text-gray-500"
          />
          <IconUnseen 
            v-else 
            class="fill-current text-gray-500" 
          /> -->
        </div>
      </div>

      <slot name="suffix">
      </slot>

      <div
        v-if="suffix !== ''"
        class="flex items-center justify-center px-2 py-1 bg-gray-300"
      >
        <span class="text-gray-600">
          {{ suffix }}
        </span>
      </div>
    </div>

    <div class="flex px-2 justify-end">
      <span 
        class="flex flex-grow text-xs text-red-500"
      >
        {{ errorMessage }}
      </span>

      <div 
        v-if="counter"
        class="flex text-xs text-gray-600"
      >
        <span class="select-none">
          {{ `${textLength}/${max}` }}
        </span>
      </div>
    </div>
  </legend>
</template>

<script>
// import IconSeen from "@/assets/svg/seen.svg";
// import IconUnseen from "@/assets/svg/unseen.svg";

export default {
  components: {
    // IconSeen,
    // IconUnseen,
  },
  props: {
    value: {
      type: [String, Number],
      default: ''
    },
    type: {
      type: String,
      default: 'text'
    },
    label: {
      type: String,
      default: ''
    },
    placeholder: {
      type: String,
      default: ''
    },
    counter: {
      type: Boolean,
      default: false
    },
    max: {
      type: [String, Number],
      default: 15
    },
    rules: {
      type: Array,
      default: () => []
    },
    required: {
      type: Boolean,
      default: false
    },
    disabled: {
      type: Boolean,
      default: false
    },
    prefix: {
      type: String,
      default: ''
    },
    suffix: {
      type: String,
      default: ''
    },
    readonly: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    showPassord: false,
    errorMessage: ''
  }),
  computed: {
    textValue: {
      get: function() {
        return this.value
      },
      set: function(newVal) {
        this.$emit('input', newVal)
      }
    },
    textLength: function() {
      return this.textValue.length
    },
    validateRules: function() {
      if(this.rules.length) {
        for(let i=0; i<this.rules.length; i++) {
          var temp = this.rules[i](this.textValue)
          if(temp !== true) {
            return temp
          }
        }
      }

      return ''
    }
  },
  methods: {
    inputChange(ev) {
      ev.preventDefault()

      if(ev.target.value.length <= this.max) {
        this.textValue = ev.target.value
      } else {
        ev.target.value = this.textValue  
      }

      this.errorMessage = ''
    },
    onKeyDown(ev) {
      if(this.type === 'number' && [38, 40].includes(ev.keyCode)) {
        ev.preventDefault();
      }

      if(this.type === 'phone' && ev.key.replace(/([^0-9\+]*)/g, "") === "" && ![8, 9, 37, 39].includes(ev.keyCode)) {
        ev.preventDefault()
      }

      this.$emit('keydown', ev)
    },
    async onBlur() {
      this.errorMessage = ''

      if(this.required && !this.textValue.length) {
        this.errorMessage = 'Wajib diisi'
        return
      }

      if(this.type === 'email') {
        // var regex = new RegExp(/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/)
        var regex = new RegExp(/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/)
        if(!regex.test(this.textValue)) {
          this.errorMessage = 'Email Tidak Valid'
          return
        }
      }

      if(this.type === 'phone') {
        var regex = new RegExp(/\(?(?:\+62|62|0)(?:\d{2,3})?\)?[ .-]?\d{2,4}[ .-]?\d{2,4}[ .-]?\d{2,4}/)
        if(!regex.test(this.textValue)) {
          this.errorMessage = 'Tidak Valid'
          return
        }
      }

      this.errorMessage = await this.validateRules

      if(this.errorMessage === '') {
        this.$emit('onBlur')
      }
      return
    },
    validate() {
      this.onBlur()

      if(this.errorMessage) {
        return false
      } else {
        return true
      }
    }
  },
  watch: {
    value: function(newVal, oldVal) {
      if(this.required && !newVal.length) {
        this.errorMessage = 'Wajib Diisi'
      } else {
        this.errorMessage = ''
      }
    }
  }
}
</script>

<style scoped>
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}
</style>