<template>
  <Card
    :loading="loading"
    :min-height="loading ? 200 : undefined"
    class="mb-12"
    outlined
    border
    shadow
    radius="5"
  >
    <v-toolbar
      :color="'grey lighten-3'"
      dense
      flat
    >
      <v-chip
        v-if="newIn"
        color="warning"
        small
      >
        <v-icon left>mdi-star</v-icon>

        <span>New in <strong>{{ newIn }}</strong></span>
      </v-chip>

      <v-spacer />

      <!-- <v-tooltip
        v-if="true"
        bottom
        @click="dark = !dark"
      >
        <template v-slot:activator="{ on }">
          <v-btn
            aria-label="Invert example colors"
            icon
            @click="dark = !dark"
            v-on="on"
          >
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M24 0H0v24h24z" fill="none"/><path d="M17.66 7.93L12 2.27 6.34 7.93c-3.12 3.12-3.12 8.19 0 11.31C7.9 20.8 9.95 21.58 12 21.58c2.05 0 4.1-.78 5.66-2.34 3.12-3.12 3.12-8.19 0-11.31zM12 19.59c-1.6 0-3.11-.62-4.24-1.76C6.62 16.69 6 15.19 6 13.59s.62-3.11 1.76-4.24L12 5.1v14.49z"/></svg>
          </v-btn>
        </template>

        Invert example colors
      </v-tooltip> -->

      <!-- <v-tooltip bottom>
        <template v-slot:activator="{ on }">
          <v-btn
            aria-label="Edit in Codepen"
            icon
            @click="sendToCodepen"
            v-on="on"
          >
            <v-icon>mdi-codepen</v-icon>
          </v-btn>
        </template>

        Edit in Codepen
      </v-tooltip> -->

      <!-- <v-tooltip bottom>
        <template v-slot:activator="{ on }">
          <v-btn
            aria-label="View on Github"
            :href="`https://github.com/vuetifyjs/vuetify/tree/${branch}/packages/docs/src/examples/${file}.vue`"
            icon
            target="_blank"
            v-on="on"
          >
            <v-icon>mdi-github-circle</v-icon>
          </v-btn>
        </template>

        View on Github
      </v-tooltip> -->

      <v-tooltip bottom>
        <template v-slot:activator="{ on }">
          <v-btn
            aria-label="View source"
            icon
            @click="expand = !expand"
            v-on="on"
          >
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M9.4 16.6L4.8 12l4.6-4.6L8 6l-6 6 6 6 1.4-1.4zm5.2 0l4.6-4.6-4.6-4.6L16 6l6 6-6 6-1.4-1.4z"/></svg>
          </v-btn>
        </template>

        View source
      </v-tooltip>
    </v-toolbar>
    
    <v-expand-transition v-if="parsed">
      <Card
        v-show="expand"
        background="rgb(45, 45, 45)"
        dark
        flat
        tile
        class=""
      >
        <v-item-group
          v-model="selected"
          class="pa-2"
          mandatory
        >
          <template v-for="(section, i) in sections">
            <v-item
              :key="`item-${i}`"
              :value="section"
            >
            <!-- @click="toggle" -->
            <!-- slot-scope="{ active, toggle }" -->
              <v-btn
                slot-scope="{ active }"
                :color="!active ? 'transparent' : ''"
                :input-value="active"
                active-class="grey darken-2 white--text"
                class="mr-2"
                depressed
                rounded
                style="width: auto; color: white; padding: 0 16px; border-color: #616161; border-radius: 28px;"
                :style="{'background-color': selected !== section ? 'transparent' : '#616161'}"
                @click="selected = section"
              >
                {{ section }}
              </v-btn>
            </v-item>
          </template>
        </v-item-group>

        <v-divider />

        <v-window v-model="selected">
          <template v-for="(section, i) in sections">
            <v-window-item
              :key="`window-${i}`"
              :value="section"
              eager
            >
              <!-- :class="($vuetify.breakpoint.smAndUp) ? 'v-example__container' : ''" -->
              <div>
                <doc-markup
                  :filename="false"
                  :value="file"
                  class="mb-0 whitespace-pre-wrap"
                >{{ parsed[section] }}</doc-markup>
              </div>
            </v-window-item>
          </template>
        </v-window>
      </Card>
    </v-expand-transition>

    <doc-codepen
      v-if="parsed"
      ref="codepen"
      :pen="parsed"
    />

    <v-fade-transition>
      <v-sheet
        v-if="component"
        :dark="dark"
        tile
        flat
      >
        <v-card-text>
          <div data-app="true">
            <component :is="component" />
          </div>
        </v-card-text>
      </v-sheet>
    </v-fade-transition>

    <!-- <pre>
      {{ parsed }}
    </pre> -->
  </Card>
</template>

<script>
  // Utilities
  import {
    get,
  } from 'vuex-pathify'
  // import { getBranch } from '@/util/helpers'
  import kebabCase from 'lodash/kebabCase'
  export default {
    components: {
      // 'v-card' : () => import('@/components/base/VCard'),
      // 'v-card-text' : () => import('@/components/base/VCardText'),
      // 'v-fade-transition' : () => import('@/components/base/VFadeTransition'),
      'v-spacer' : () => import('@/components/base/VSpacer'),
      'v-toolbar' : () => import('@/components/base/VToolbar'),
      'v-tooltip' : () => import('@/components/base/VTooltip'),
      'v-expand-transition' : () => import('@/components/base/VExpandTransition'),
      'v-item-group' : () => import('@/components/base/VItemGroup'),
      'v-item' : () => import('@/components/base/VItem'),
      'v-divider' : () => import('@/components/base/VDivider'),
      'v-window' : () => import('@/components/base/VWindow'),
      'v-window-item' : () => import('@/components/base/VWindowItem'),
      'doc-markup' : () => import('@/components/base/Markup'),
      // 'v-sheet' : () => import('@/components/base/VSheet'),

      'v-card' : () => import('@/components/base/VCard'),
      'v-card-text' : () => import('@/components/base/VCard'),
      'v-fade-transition' : () => import('@/components/base/VCard'),
      // 'v-spacer' : () => import('@/components/base/VCard'),
      // 'v-toolbar' : () => import('@/components/base/VCard'),
      // 'v-tooltip' : () => import('@/components/base/VCard'),
      'v-sheet' : () => import('@/components/base/VCard'),
      
      // 'v-expand-transition' : () => import('@/components/base/VCard'),
      // 'v-item-group' : () => import('@/components/base/VCard'),
      // 'v-item' : () => import('@/components/base/VCard'),
      // 'v-divider' : () => import('@/components/base/VCard'),
      // 'v-window' : () => import('@/components/base/VCard'),
      // 'v-window-item' : () => import('@/components/base/VCard'),
      // 'doc-markup' : () => import('@/components/base/VCard'),
      'doc-codepen' : () => import('@/components/base/VCard'),

      'v-btn' : () => import('@/components/base/VButton'),
    },
    props: {
      eager: Boolean,
      path: {
        type: [Object, String],
        default: undefined,
      },
    },
    data: vm => ({
      branch: undefined,
      component: undefined,
      dark: false,
      expand: false,
      loading: false,
      observer: null,
      parsed: undefined,
      selected: 'template',
    }),
    computed: {
      namespace: get('documentation/namespace'),
      // page: get('documentation/page'),
      page: get('/'),
      internalValue () {
        if (this.path === Object(this.path)) return this.path
        return { file: this.path }
      },
      file () {
        return `${this.internalValue.file}`
        // return `${this.kebabCase(this.page)}/${this.internalValue.file}`
      },
      newIn () {
        return this.internalValue.newIn
      },
      sections () {
        return ['template', 'style', 'script'].filter(section => this.parsed[section])
      },
    },
    created () {
      this.expand = Boolean(this.internalValue.show)
    },
    beforeDestroy () {
      this.unobserve()
    },
    mounted () {
      // this.branch = getBranch()
      this.importComponent()
      if (this.eager) return this.getFiles()
      this.observer = new IntersectionObserver((entries, observer) => {
        entries.forEach(entry => {
          if (entry.isIntersecting) this.importTemplate()
        })
      }, { threshold: 0 })
      this.observer.observe(this.$el)
    },
    methods: {
      boot (res) {
        const template = this.parseTemplate('template', res)
        const style = this.parseTemplate('style', res)
        const script = this.parseTemplate('script', res)
        const codepenResources = this.parseTemplate('codepen-resources', res)
        const codepenAdditional = this.parseTemplate('codepen-additional', res)
        this.parsed = {
          template,
          style,
          script,
          codepenResources,
          codepenAdditional,
        }
      },
      async getFiles () {
        this.loading = true
        await this.importTemplate()
        this.loading = false
      },
      getLang (tab) {
        if (tab === 'script') return 'js'
        if (tab === 'style') return 'css'
        return 'vue'
      },
      importComponent () {
        // console.log('file', this.file)
        return import(
          /* webpackChunkName: "examples" */
          /* webpackMode: "lazy-once" */
          // `../../examples/${this.file}.vue`
          `./Examples/${this.file}.vue`
        )
          .then(comp => (this.component = comp.default))
      },
      importTemplate () {
        return import(
          /* webpackChunkName: "examples-source" */
          /* webpackMode: "lazy-once" */
          // `!raw-loader!../../examples/${this.file}.vue`
          `!raw-loader!./Examples/${this.file}.vue`
        )
          .then(comp => this.boot(comp.default))
          .then(this.unobserve)
      },
      kebabCase,
      parseTemplate (target, template) {
        const string = `(<${target}(.*)?>[\\w\\W]*<\\/${target}>)`
        const regex = new RegExp(string, 'g')
        const parsed = regex.exec(template) || []
        return parsed[1] || ''
      },
      sendToCodepen () {
        this.$refs.codepen.submit()
      },
      togglePanel () {
        const panel = this.$refs.panel.items[0]._uid
        this.$refs.panel.panelClick(panel)
      },
      unobserve () {
        this.observer && this.observer.unobserve(this.$el)
      },
    },
  }
</script>

