<template>
  <div
    class="flex fixed inset-0 items-end justify-center z-50" 
    v-show="layer"
  >
    <transition name="fade">
      <div 
        v-if="value"
        class="absolute inset-0 bg-black opacity-25"
        @click="$emit('input', persistent)"
      >
      </div>
    </transition>

    <transition name="slide-bottom-centered">
      <Card
        v-if="value"
        border
        border-width="0"
        shadow
        margin="0"
        class="flex relative overflow-auto"
        :style="{
          ...modalStyle
        }"
      >
        <template #top>
          <div class="flex items-center sticky top-0">
            <slot name="top"></slot>
          </div>
        </template>

        <template #default>
          <div 
            class="flex-1 overflow-auto"
            style="height: inherit;"
          >
            <slot name="default">
            </slot>
          </div>
        </template>

        <template #bottom>
          <div class="flex items-center sticky bottom-0">
            <slot name="bottom">
            </slot>
          </div>
        </template>
      </Card>
    </transition>
    
  </div>
</template>

<script>
import Card from '../Card'

export default {
  components: {
    // Card: () => import('../Card')
    Card
  },
  props: {
    value: {
      type: Boolean,
      default: false
    },
    width: {
      type: String,
      default: '400px'
    },
    height: {
      type: String,
      default: '500px'
    },
    persistent: {
      type: Boolean,
      default: false
    },
    padding: {
      type: String,
      default: '0'
    },
    background: {
      type: String,
      default: '#fff'
    },
    fullscreen: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    modalStyle: function() {
      if(this.fullscreen) {
        return {
          'width': `100%`,
          'height': `-webkit-fill-available`,
          'max-height': `100%`,
          'padding': `${this.padding}`,
          'background': `${this.background}`
        }
      } else {
        return {
          'min-width': '320px',
          'width': `${this.width}`,
          'height': `-webkit-fill-available`,
          'max-height': `${this.height}`,
          'padding': `${this.padding}`,
          'background': `${this.background}`
        }
      }
    }
  },
  data: () => ({
    layer: false
  }),
  watch: {
    value: {
      handler: function(newVal, oldVal) {
        if(newVal) {
          document.querySelector('html').style['overflow-y'] = 'hidden'
          this.layer = true
        } else {
          document.querySelector('html').style['overflow-y'] = 'auto'
          var _this = this
          setTimeout(function() {
            _this.layer = false
          }, 250)
        }
      }
    }
  },
  mounted() {
    this.$el.focus()
  }
}
</script>

<style scoped>
/* purgecss start ignore */
.slide-bottom-centered-enter,
.slide-bottom-centered-leave-to {
    transform: translatey(100%) !important;
    opacity: 0;
}

.slide-bottom-centered-enter-active {
    transition: all .5s ease;
}

.slide-bottom-centered-leave-active {
    transition: all .5s ease;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.fade-enter-active {
    transition: all .3s ease;
}

.fade-leave-active {
    transition: all .5s ease;
}
/* purgecss end ignore */
</style>