<template>
  <div>
    <div class="b">
      AAAAAAAAAAA
      <div class="a">
        2222222222
        <div class="b">
          BBBBb22222
        </div>
        <div class="b">
          BBBBb22222
          <div class="c">
            BBBBb22222
          </div>
        </div>
      </div>

      <div class="b">
        BBBBBBBBBB
      </div>
    </div>
  </div>
</template>

<script>
export default {
  layout: 'blank'
}
</script>

<style scoped>
.a {
  color: red
}

.b { 
  color: blue;
}

.a .b {
  color: yellow;
}

.a > .b {
  color: aqua;
}


</style>