<template>
  <transition
    :enter-active-class="transition.enter"
    :leave-active-class="transition.leave">
    <!-- :class="[`toast-${type}`, `is-${position}`]" -->
    <Alert
      role="alert"
      v-show="isActive"
      class="toast"
      :class="[`is-${position}`]"
      :style="{'background': background}"
      @click="onClick"
    >
      <span class="toast-text">
        {{ message }}
      </span>
    </Alert>
  </transition>
</template>

<script>
  import Alert from '../Alert/index.vue'
  import {removeElement, HTMLElement} from "../../../plugins/helpers/element.js";
  import eventBus from '../../../utils/bus.js'

  export default {
    components: {
      Alert
    },
    name: 'toast',
    props: {
      message: {
        type: String,
        required: true
      },
      type: {
        type: String,
        default: 'success'
      },
      position: {
        type: String,
        default: 'bottom-right',
      },
      duration: {
        type: Number,
        default: 3000
      },
      dismissible: {
        type: Boolean,
        default: true
      },
      onClose: {
        type: Function,
        default: () => {
        }
      },
      queue: Boolean,
      container: {
        type: [Object, Function, HTMLElement],
        default: null
      },
      background: {
        type: String,
        default: 'rgb(50, 50, 50)'
      }
    },
    data() {
      return {
        isActive: false,
        parentTop: null,
        parentBottom: null,
        parentCenter: null,
      }
    },
    beforeMount() {
      this.setupContainer()
    },
    mounted() {
      this.showNotice();
      eventBus.$on('toast.clear', this.close)
    },
    methods: {
      setupContainer() {
        this.parentCenter = document.querySelector('.notices.is-center');
        this.parentTop = document.querySelector('.notices.is-top');
        this.parentBottom = document.querySelector('.notices.is-bottom');
        // No need to create them, they already exists
        if (this.parentTop && this.parentBottom && this.parentCenter) return;
        if (!this.parentCenter) {
          this.parentCenter = document.createElement('div');
          this.parentCenter.className = 'notices is-center'
        }
        if (!this.parentTop) {
          this.parentTop = document.createElement('div');
          this.parentTop.className = 'notices is-top';
        }
        if (!this.parentBottom) {
          this.parentBottom = document.createElement('div');
          this.parentBottom.className = 'notices is-bottom'
        }
        const container = this.container || document.body;
        container.appendChild(this.parentCenter);
        container.appendChild(this.parentTop);
        container.appendChild(this.parentBottom);
        let containerParentClass = 'is-custom-parent';
        if (this.container) {
          this.parentCenter.classList.add(containerParentClass);
          this.parentTop.classList.add(containerParentClass);
          this.parentBottom.classList.add(containerParentClass);
        }
      },
      shouldQueue() {
        if (!this.queue) return false;
        return (
            this.parentTop.childElementCount > 0 ||
            this.parentBottom.childElementCount > 0 || 
            this.parentCenter.childElementCount > 0
        )
      },
      close() {
        clearTimeout(this.timer);
        this.isActive = false;
        // Timeout for the animation complete before destroying
        setTimeout(() => {
          this.$destroy();
          removeElement(this.$el)
        }, 150)
      },
      showNotice() {
        if (this.shouldQueue()) {
          // Call recursively if should queue
          setTimeout(() => this.showNotice(), 250);
          return
        }
        this.correctParent.insertAdjacentElement('afterbegin', this.$el);
        this.isActive = true;
        this.timer = setTimeout(() => this.close(), this.duration)
      },
      onClick() {
        if (!this.dismissible) return;
        this.onClose.apply(null, arguments);
        this.close()
      }
    },
    computed: {
      correctParent() {
        switch (this.position) {
          case 'center':
            return this.parentCenter;
          case 'top-right':
          case 'top':
          case 'top-left':
            return this.parentTop;
          case 'bottom-right':
          case 'bottom':
          case 'bottom-left':
            return this.parentBottom;
        }
      },
      transition() {
        switch (this.position) {
          case 'center':
          case 'top-right':
          case 'top':
          case 'top-left':
            return {
              enter: 'fadeInDown',
              leave: 'fadeOut'
            };
          case 'bottom-right':
          case 'bottom':
          case 'bottom-left':
            return {
              enter: 'fadeInUp',
              leave: 'fadeOut'
            }
        }
      },
    },
  }
</script>

<style lang="css">
@keyframes fadeOut{
    from{
        opacity:1
    }
    to{
        opacity:0
    }
}
.fadeOut{
    animation-name:fadeOut
}
@keyframes fadeInDown{
    from{
        opacity:0;
        transform:translate3d(0, -100%, 0)
    }
    to{
        opacity:1;
        transform:none
    }
}
.fadeInDown{
    animation-name:fadeInDown
}
@keyframes fadeInUp{
    from{
        opacity:0;
        transform:translate3d(0, 100%, 0)
    }
    to{
        opacity:1;
        transform:none
    }
}
.fadeInUp{
    animation-name:fadeInUp
}
.fade-enter-active,.fade-leave-active{
    transition:opacity 150ms ease-out
}
.fade-enter,.fade-leave-to{
    opacity:0
}
.notices{
    position:fixed;
    display:flex;
    top:0;
    bottom:0;
    left:0;
    right:0;
    padding:2em;
    overflow:hidden;
    z-index:1052;
    pointer-events:none
}
.notices .toast{
    display:inline-flex;
    align-items:center;
    animation-duration:150ms;
    margin:0.5em 0;
    box-shadow:0 1px 4px rgba(0,0,0,0.12),0 0 6px rgba(0,0,0,0.04);
    pointer-events:auto;
    opacity:0.92;
    cursor:pointer
}
    /* box-shadow:0 1px 4px rgba(0,0,0,0.12),0 0 6px rgba(0,0,0,0.04); */
    /* border-radius:0.25em; */
    /* color:#fff; */
    /* min-height:3em; */

.notices .toast .toast-text{
    margin:0;
    padding:0.5em 1em
}
.notices .toast-success{
    background-color:#28a745
}
.notices .toast-info{
    background-color:#17a2b8
}
.notices .toast-warning{
    background-color:#ffc107
}
.notices .toast-error{
    background-color:#dc3545
}
.notices .toast-default{
    background-color:#343a40
}
.notices .toast.is-center{
    align-self:center;
    justify-content: center;
}
.notices .toast.is-top,.notices .toast.is-bottom{
    align-self:center
}
.notices .toast.is-top-right,.notices .toast.is-bottom-right{
    align-self:flex-end
}
.notices .toast.is-top-left,.notices .toast.is-bottom-left{
    align-self:flex-start
}
.notices.is-center{
    flex-direction:column;
    justify-content: center;
}
.notices.is-top{
    flex-direction:column
}
.notices.is-bottom{
    flex-direction:column-reverse
}
.notices.is-custom-parent{
    position:absolute
}
@media screen and (max-width: 768px){
    .notices{
        padding:0;
        position:fixed !important
    }
}
</style>