<template>
  <div>
    <h2 class="text-2xl">Usage</h2>

    <div class="p-2">
      <slot />
    </div>

    <pre>
      {{ temp }}
    </pre>
  </div>
</template>

<script>
export default {
  data: () => ({
    temp: null
  }),
  mounted() {
    this.temp = this.$slots.default[0]['elm']['outerHTML']
  },
  methods: {
    parseTemplate (target, template) {
      const string = `(<${target}(.*)?>[\\w\\W]*<\\/${target}>)`
      const regex = new RegExp(string, 'g')
      const parsed = regex.exec(template) || []
      return parsed[1] || ''
    },
  }
}
</script>