<template>
  <div
    role="radiogroup"
    class="flex w-full"
    :class="[column?'flex-row':'flex-col']"
    @input="ev => $emit('input', ev.target.value)"
  >
    <legend class="pb-2" style="height: 20px; line-height: 20px; transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);">
      <slot name="label" />
    </legend>

    <slot />
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: String
    },
    column: {
      type: Boolean,
      default: false
    }
  },
}
</script>