<template>
  <div 
    class="progress"
    @click="reset(0)"
  >
    <div class="flex absolute inset-0 justify-center items-center">
      <slot />
    </div>

    <div class="bar bars"></div>
  </div>
</template>

<script>
export default {
  methods: {
    reset(val) {
      const bars = document.querySelectorAll('.bar');
      const progress = document.querySelectorAll('.progress');

      bars.forEach((bar, index) => {
        if(val !== undefined) {
          bar.style.width = `${0}%`;
        } else {
          const randomWidth = Math.floor((Math.random() * 65) + 10);
          bar.style.width = `${randomWidth}%`;
        }
      })
    },
  },
  mounted() {
    const bars = document.querySelectorAll('.bar');
    const progress = document.querySelectorAll('.progress');

    bars.forEach((bar, index) => {
      const randomWidth = Math.floor((Math.random() * 65) + 10);
      bar.style.width = `${randomWidth}%`;

      progress[index].addEventListener('mouseover', () => {
        const randomTiming = Math.floor((Math.random() * 2) + 2);
        bar.style.transitionDuration = `${randomTiming}s`;
        bar.style.width = '100%';
      });
    })
  }
}
</script>

<style scoped>
.progress {
    display: flex;
    width: 100%;
    height: 50px;
    margin: 8px 0;
    border-radius: 10px;
    background: rgba(52, 168, 235, 0.6);
    position: relative;
    border-color: rgba(255, 255, 255, 0.2)
}

.bar {
    border-radius: 10px;
    width: 0%;
    height: 100%;
    transition: width;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(.36,.55,.63,.48);
}

.bars {
    background-color: rgba(52, 168, 235, 1);
}
</style>