<template>
  <!-- <div class="flex"> -->
    <button
      :class="[disabled?'disabled':'', (!['plain', 'outline'].includes(type) && shadow)?'btn-shadow':'']"
      :style="styles"
      :disabled="disabled"
      @click="mousemove"
      ontouchstart=""
    >
      <div class="wave" :class="{'waves': active == true}" style=""></div>
      <slot />
    </button>
  <!-- </div> -->
</template>

<script>
export default {
  props: {
    type: {
      tyoe: String,
      default: 'default'
    },
    color: {
      type: String,
    },
    bgColor: {
      tyoe: String,
    },
    borderColor: {
      type: String,
    },
    rounded: {
      tyoe: [String, Number],
      default: 0
    },
    shadow: {
      type: Boolean,
      default: false
    },
    disabled: {
      type: Boolean,
      default: false
    },
    size: {
      type: String,
      default: 'md'
    },
    fit: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    active: false
  }),
  computed: {
    styles: function() {
      var styles = {

      }

      switch(this.type) {
        case 'outline':
            styles['color'] = this.color ? this.color : '#3897f0'
            styles['backgroundColor'] = this.bgColor ? this.bgColor : '#ffffff'
            styles['borderColor'] = this.borderColor?this.borderColor:'#3897f0'
            styles['borderWidth'] = '1px'
            styles['borderRadius'] = `${this.rounded}px`
          break;
        case 'plain':
            styles['color'] = this.color ? this.color : '#3897f0'
            // styles['padding'] = '0'
            styles['margin'] = '0 4px'
          break;
        default:
          styles['color'] = this.color ? this.color : '#ffffff'
          styles['backgroundColor'] = this.bgColor?this.bgColor:'#3897f0'
          if(this.borderColor) {
            styles['borderColor'] = this.borderColor  
            styles['borderWidth'] = '1px'
          }
          styles['borderRadius'] = `${this.rounded}px`
      }

      switch(this.size) {
        case 'xs':
          styles['height'] = '20px'
          styles['fontSize'] = '0.625rem'    
          break;
        case 'sm':
          styles['height'] = '28px'
          styles['fontSize'] = '0.75rem'
          break;
        case 'lg':
          styles['height'] = '44px'
          styles['fontSize'] = '0.875rem'
          break;
        case 'xl':
          styles['height'] = '52px'
          styles['fontSize'] = '1rem'
          break;
        default:
          styles['height'] = '36px'
          styles['fontSize'] = '0.875rem'
      }

      if(this.type === 'plain') {
        styles['height'] = 'auto'
      }

      if(this.fit) {
        styles['padding'] = '0'
      }
      
      return styles
    }
  },
  methods: {
    mousemove(e) {
      var _this = this;
      // console.log(e.target.nodeName)
      if(e.target.nodeName == "BUTTON") {
        var clientWidth = e.target.getElementsByClassName("wave")[0].clientWidth / 2;
        var clientHeight = e.target.getElementsByClassName("wave")[0].clientHeight / 2;
        var div = e.target.getElementsByClassName("wave")[0];
        div.style.left = e.offsetX-clientWidth+"px";
        div.style.top = e.offsetY-clientHeight+"px";
        // div.className += " waves";
        _this.active = true;
        setTimeout(function(){
          _this.active = false;
        },500)
      }
      this.$emit('click', e)
    }
  }
}
</script>

<style scoped>
/* purgecss start ignore */
button {
  position: relative;
  overflow: hidden;
  margin: 4px;
  cursor: pointer;
  user-select: none;
  outline: none;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-appearance: none;
  padding: 4px 16px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

button.btn-shadow {
  -webkit-box-shadow: 0px 3px 3px #bbbbbb; 
  -moz-box-shadow: 0px 3px 3px #bbbbbb;
  box-shadow: 0px 3px 3px #bbbbbb;
}

/* button:hover {
  opacity: .8;
} */

button:active {
  outline: none;
}
button.btn-shadow:active {
  outline: none;
  box-shadow: none;
}

button.disabled {
  cursor: not-allowed;
  box-shadow: none;
  opacity: 0.6;
}

.wave {
  position: absolute;
  background: rgba(255, 255, 255, 0.43);
  z-index: -1;
}

.waves {
  opacity: 0;
  z-index: 1;
  width: 10px;
  height: 10px;
  transform: scale(1);
  border-radius: 100rem;
  animation: waves .5s linear;
  /* Firefox: */
  -moz-animation:waves .5s linear;
  /* Safari and Chrome: */
  -webkit-animation:waves .5s linear;
  /* Opera: */
  -o-animation:waves .5s linear;
}
@keyframes waves
{
  from {transform: scale(1);opacity: 1;}
  to {transform: scale(30);opacity: 0;}
  
}
@-moz-keyframes waves
{
  from {transform: scale(1);}
  to {transform: scale(30);}
  
}
@-webkit-keyframes waves
{
  from {transform: scale(1);opacity: 1;}
  to {transform: scale(30);opacity: 0;}
  
}
@-o-keyframes waves
{
  from {transform: scale(1);}
  to {transform: scale(30);}
  
}
/* purgecss end ignore */
</style>