<template>
  <div class="p-2">
    <ExSwitch
      v-model="checked"
    >
    </ExSwitch>
  </div>
</template>

<script>
export default {
  props: {
    test: Boolean
  },
  data: () => ({
    checked: false
  })
}
</script>

<style scoped>
.sample {
  color: red;
}
</style>