<template>
  <div class="flex flex-col w-full">
    <div class="flex justify-around items-center">
      <div class="flex items-center">
        <ExSwitch
          v-model="vertical"
          class="p-2"
        >
        </ExSwitch>
        Vertical
      </div>

      <div class="flex items-center">
        <ExSwitch
          v-model="center"
          class="p-2"
        >
        </ExSwitch>
        Center
      </div>

      <div class="flex items-center">
        <ExSwitch
          v-model="right"
          class="p-2"
        >
        </ExSwitch>
        Right
      </div>

      <div class="flex items-center">
        <ExSwitch
          v-model="grow"
          class="p-2"
        >
        </ExSwitch>
        Grow
      </div>
    </div>

    <div class="flex flex-col w-full px-2 mb-4">
      <SeekBar
        label="Jumlah Tab"
        min="1"
        max="20"
        v-model="tabNumber"
        class="w-full"
      >
      </SeekBar>
    </div>

    <div class="flex p-2">
      <Tabs
        v-model="tab"
        :vertical="vertical"
        :center="center"
        :right="right"
        :grow="grow"
      >
        <template #tabs-bar>
          <!-- <TabsSlider 
            style="height: 2px; left: 0px; width: 90px;"
          /> -->

          <Tab
            v-for="(item, index) in tabNumber"
            :key="index"
            :href="`#tab-${index}`"
          >
            Tab {{ item }}
          </Tab>
        </template>

        <template #tabs-items>
          <TabItem
            v-for="(item, index) in tabNumber"
            :key="index"
            :value="`#tab-${index}`"
          >
            Content of Tab {{ item }}
          </TabItem>
        </template>
      </Tabs>
    </div>

  </div>
</template>

<script>
export default {
  data: () => ({
    tab: null,
    vertical: false,
    center: false,
    right: false,
    grow: false,
    tabNumber: 3, 
    tabs: [
      {
        label: 'Features'
      },
      {
        label: 'Delivery'
      },
      {
        label: 'Shipping'
      },
      {
        label: 'About'
      }
    ]
  })
}
</script>