<template>
  <div class="flex p-2">
    <TextField 
      type="text"
      label="Domain"
      placeholder="Ketik Nama Domainmu"
      v-model="textValue"
      prefix="www."
    >
      <template #suffix>
        <div
          class="flex items-center justify-center px-2 py-1 bg-gray-300 cursor-pointer select-none"
          @click="sheetTLD = true"
        >
          <span class="text-gray-600 pr-2">
            {{ suffixTLD['label'] }}
          </span>

          <svg 
            viewBox="30 30 450 450" 
            class="" 
            width="16" 
            height="16" 
            style="color: rgb(189, 189, 189); position: relative; font-size: 16px; width: 16px; height: 16px; text-align: center; fill: rgb(189, 189, 189);"
          >
            <path d="M128.4 160L96 192.3 256 352l160-159.7-32.4-32.3L256 287.3z"></path>
          </svg>
        </div>
      </template>
    </TextField>

    <BottomSheet
      v-model="sheetTLD"
      width="602px"
      height="40vh"
    >
      <template #top>
        <div class="flex w-full justify-between p-2"
          style="box-shadow: rgba(0, 0, 0, 0.1) 0px -1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;"
        >
          <span class="flex">
            Silakan Pilih
          </span>

          <div class="flex cursor-pointer select-none text-gray-500 hover:text-blue-500"
            @click="sheetTLD = false"
          >
            <svg 
              viewBox="30 30 450 450" 
              class="" 
              width="24" 
              height="24" 
              style="position: relative; font-size: 24px; width: 24px; height: 24px; text-align: center; opacity: 0.7; fill: currentColor;">
              <path d="M405 136.798L375.202 107 256 226.202 136.798 107 107 136.798 226.202 256 107 375.202 136.798 405 256 285.798 375.202 405 405 375.202 285.798 256z"></path>
            </svg>
          </div>
        </div>
      </template>

      <template>
        <div class="flex flex-col w-full py-2">
          <div
            v-for="(item, index) in tld"
            :key="index"
            class="flex w-full"
          >
            <Card
              border
              padding="0px"
              margin="2px 5px"
              class="flex w-full cursor-pointer select-none"
              @click="(selectedTLD = item['value']) && (sheetTLD = false)"
            >
              <div class="flex px-4 py-2 justify-between rounded hover:bg-blue-500 hover:text-white">
                <span>
                  {{ item['label'] }}
                </span>

                <span v-if="selectedTLD === item['value']" class="text-gray-700">
                  <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24" class="fill-current"><path d="M0 0h24v24H0z" fill="none"/><path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z"/></svg>
                </span>
              </div>
            </Card>
          </div>
        </div>
      </template>
    </BottomSheet>
  </div>
</template>

<script>
export default {
  data: () => ({
    textValue: 'example',
    sheetTLD: false,
    selectedTLD: '.COM',
    tld: [
      {
        label: '.com',
        value: '.COM'
      },
      {
        label: '.net',
        value: '.NET'
      },
      {
        label: '.org',
        value: '.ORG'
      },
      {
        label: '.biz',
        value: '.BIZ'
      },
    ]
  }),
  computed: {
    suffixTLD: function() {
      var temp = this.tld.find(item => item['value'] === this.selectedTLD)
      return temp
    }
  }
}
</script>