<template>
  <div class="flex flex-col">
    <div 
      v-for="(item, index) in items"
      :key="index"
      class="flex"
    >
      <slot name="default" :item="item" :items="items">
        {{ item }}
      </slot>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    items: {
      type: Array,
      default: () => ([])
    }
  }
}
</script>