<template>
  <div class="flex flex-col w-full">
    <legend class="mb-4">
      Default
      <Alert>
        Sample Message Here
      </Alert>
    </legend>

    <legend class="mb-4">
      Default With Long Text
      <Alert>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      </Alert>
    </legend>

    <legend class="mb-4">
      Large With Long Text
      <Alert
        large
      >
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      </Alert>
    </legend>

    <legend class="mb-4">
      Closeable
      <Alert
        :value="alert"
        @input="val => hideAlert(val)"
        closeable
      >
        Sample Message Here
      </Alert>
    </legend>

    <legend class="mb-4">
      Closeable With Long Text
      <Alert
        closeable
        large
      >
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      </Alert>
    </legend>

    <legend class="mb-4">
      Custom Action With Long Text
      <Alert
        v-model="alert"
        closeable
        large
      >
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        <template #action>
          <div
            class="flex items-center justify-center"
          >
            <Button
              type="plain"
              fit
              color="rgb(0, 122, 255)"
              class="flex-shrink-0"
            >
              Batal
            </Button>

            <Button
              type="plain"
              fit
              color="rgb(0, 122, 255)"
              class="flex-shrink-0"
              @click="hideAlert"
            >
              OK
            </Button>
          </div>
        </template>
      </Alert>
    </legend>


    <legend class="mb-4">
      With Icon
      <Alert
        fit
      >
        <template #icon>
          <div class="flex w-full justify-center p-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" style="fill: white;">
              <path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/>
            </svg>
          </div>
        </template>
        
        <template #default>
          <div class="flex w-full justify-center p-2">
            With Icon
          </div>
        </template>
      </Alert>
    </legend>

    <div class="flex">
      <Doc component="Alert">
      </Doc>
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({
    alert: true
  }),
  methods: {
    hideAlert() {
      var _this = this
      _this.alert = false
      setTimeout(function() {
        _this.alert = true
      }, 1000)
    }
  }
}
</script>