<template>
  <div class="flex flex-col w-full">
    <legend class="mb-4 border border-gray-300 p-2">
      BottomSheet
      <div class="flex flex-col w-full p-2">
        <div class="flex">
          <span>
            Terpilih: {{ selected }}
          </span>
        </div>

        <Button
          rounded="5"
          shadow
          @click="showBottomSheet"
        >
          Click Me! {{ bottomSheet }}
        </Button>
      </div>
    </legend>

    <BottomSheet
      v-model="bottomSheet"
      width="602px"
      height="80vh"
    >
      <template #top>
        <div class="flex w-full justify-between p-2"
          style="box-shadow: rgba(0, 0, 0, 0.1) 0px -1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;"
        >
          <span class="flex">
            Silakan Pilih
          </span>

          <div class="flex cursor-pointer select-none"
            @click="hideBottomSheet(selected)"
          >
            <svg 
              viewBox="30 30 450 450" 
              class="" 
              width="24" 
              height="24" 
              style="color: rgb(189, 189, 189); position: relative; font-size: 24px; width: 24px; height: 24px; text-align: center; opacity: 0.7; fill: rgb(189, 189, 189);">
              <path d="M405 136.798L375.202 107 256 226.202 136.798 107 107 136.798 226.202 256 107 375.202 136.798 405 256 285.798 375.202 405 405 375.202 285.798 256z"></path>
            </svg>
          </div>
        </div>
      </template>

      <template>
        <div class="flex flex-col w-full">
          <div
            v-for="i in 30"
            :key="i"
            class="flex w-full"
          >
            <Card
              border
              padding="5px"
              class="flex w-full cursor-pointer select-none"
              @click="hideBottomSheet(i)"
            >
              Click Me, index {{ i }}{{ selected === i ? ', Selected' : '' }}
            </Card>
          </div>
        </div>
      </template>
    </BottomSheet>
    
    <Doc component="BottomSheet">
    </Doc>
  </div>
</template>

<script>
export default {
  data: () => ({
    selected: null,
    bottomSheet: false,
  }),
  methods: {
    showBottomSheet() {
      this.bottomSheet = true
    },
    hideBottomSheet(id) {
      this.selected = id
      this.bottomSheet = false
    }
  }
}
</script>