<template>
  <div
    class="flex flex-col w-full p-2"
  >
    <div class="flex p-2 mb-2 bg-white rounded">
      <legend>
        Button
        <div class="flex flex-wrap">
          <Button
            @click="click"
          >
            Default
          </Button>

          <Button
            type="outline"
          >
            Outline
          </Button>

          <Button
            type="plain"
          >
            Plain
          </Button>
        </div>
      </legend>
    </div>

    <div class="flex p-2 mb-2 bg-white rounded">
      <legend>
        Rounded
        <div class="flex flex-wrap">
          <Button
            rounded="5"
          >
            Default
          </Button>

          <Button
            type="outline"
            rounded="5"
          >
            Outline
          </Button>

          <Button
            type="plain"
            rounded="5"
          >
            Plain
          </Button>
        </div>
      </legend>
    </div>

    <div class="flex p-2 mb-2 bg-white rounded">
      <legend>
        Shadow
        <div class="flex flex-wrap">
          <Button
            shadow
          >
            Default
          </Button>

          <Button
            type="outline"
            shadow
          >
            Outline
          </Button>

          <Button
            type="plain"
            shadow
          >
            Plain
          </Button>
        </div>
      </legend>
    </div>

    <div class="flex p-2 mb-2 bg-white rounded">
      <legend>
        Rounded &amp; Shadow
        <div class="flex flex-wrap">
          <Button
            rounded="5"
            shadow
          >
            Default
          </Button>

          <Button
            type="outline"
            rounded="5"
            shadow
          >
            Outline
          </Button>

          <Button
            type="plain"
            rounded="5"
            shadow
          >
            Plain
          </Button>
        </div>
      </legend>
    </div>

    <div class="flex p-2 mb-2 bg-white rounded">
      <legend>
        Disabled
        <div class="flex flex-wrap">
          <Button
            rounded="5"
            shadow
            disabled
          >
            Default
          </Button>

          <Button
            type="outline"
            rounded="5"
            shadow
            disabled
          >
            Outline
          </Button>

          <Button
            type="plain"
            rounded="5"
            shadow
            disabled
          >
            Plain
          </Button>
        </div>
      </legend>
    </div>

    <div class="flex p-2 mb-2 bg-white rounded">
      <legend>
        Size
        <div class="flex flex-wrap">
          <Button
            v-for="(item, index) in ['xs', 'sm', 'md', 'lg', 'xl']"
            :key="index"
            :size="item"
            rounded="5"
            shadow
          >
            Default {{ item }}
          </Button>
        </div>
      </legend>
    </div>

    <div class="flex p-2 mb-2 bg-white rounded">
      <legend>
        Size Outline
        <div class="flex flex-wrap">
          <Button
            v-for="(item, index) in ['xs', 'sm', 'md', 'lg', 'xl']"
            :key="index"
            type="outline"
            :size="item"
            rounded="5"
            shadow
          >
            Outline {{ item }}
          </Button>
        </div>
      </legend>
    </div>

    <div class="flex p-2 mb-2 bg-white rounded">
      <legend>
        Size Plain
        <div class="flex flex-wrap">
          <Button
            v-for="(item, index) in ['xs', 'sm', 'md', 'lg', 'xl']"
            :key="index"
            type="plain"
            :size="item"
            rounded="5"
            shadow
          >
            Plain {{ item }}
          </Button>
        </div>
      </legend>
    </div>

    <div class="flex p-2 mb-2 bg-white rounded">
      <legend>
        Border
        <div class="flex flex-wrap">
          <Button
            rounded="5"
            shadow
            color="#ff0000"
            border-color="#ff0000"
            bg-color="#ffffff"
          >
            Default
          </Button>

          <Button
            type="outline"
            rounded="5"
            shadow
            color="#ff0000"
            border-color="#ff0000"
            bg-color="#ffffff"
          >
            Outline
          </Button>

          <Button
            type="plain"
            rounded="5"
            shadow
            color="#ff0000"
            border-color="#ff0000"
            bg-color="#ffffff"
          >
            Plain
          </Button>
        </div>
      </legend>
    </div>

    <div class="flex p-2 mb-2 bg-white rounded">
      <legend class="flex flex-col w-full">
        Block
        <div class="flex flex-wrap">
          <Button
            rounded="5"
            shadow
            class="flex flex-grow"
            @click="sampleLoading"
            :disabled="isLoading"
          > 
            <template v-if="!isLoading">
              <span>Eka</span>
              <span>Kurniawan</span>
            </template>
            <template v-else>
              <span>
                Mohon Tunggu...
              </span>
            </template>
          </Button>

          <Button
            rounded="5"
            shadow
            
          >
            Button
          </Button>
        </div>
      </legend>
    </div>

    <div class="flex">
      <Doc component="Button">
      </Doc>
    </div>
  </div>
</template>

<script>

export default {
  data: () => ({
    isLoading: false,
  }),
  methods: {
    click() {
      console.log('click')
    },
    sampleLoading() {
      this.isLoading = true
      var _this = this
      setTimeout(function() {
        _this.isLoading = false
      }, 2000)
    }
  }
}
</script>

