<template>
  <div class="flex flex-col p-2">
    <div class="flex flex-wrap">
      <Card
        v-for="i in 10"
        :key="i"
        border
        border-color="#e2e8f0"
        border-width="1"
        rounded="5px"
        margin="8px"
        padding="0"
        shadow
        shadow-color="#bbbbbb"
        shadow-width="0 3px 3px"
      >
        <template #top>
          <div class="border-b p-2">
            Top
          </div>
        </template>
        
        <template #default>
          <div class="p-2">
            Sample
          </div>
        </template>

        <template #bottom>
          <div class="p-2">
            Bottom
          </div>
        </template>
      </Card>
    </div>

    <div class="flex">
      <Doc component="Card">
      </Doc>
    </div>
  </div>
</template>