<template>
  <div class="flex flex-col w-full">
    <div class="flex w-full">
      <legend class="w-full">
        Confirm
        <div class="flex flex-col w-full">
          <TextField
            type="text"
            label="Pesan"
            max="200"
            placeholder="Ketikan pesan di sini"
            v-model="message"
            class="w-full"
          >
          </TextField>
          
          <Button
            rounded="5"
            shadow
            @click="showConfirm()"
          >
            Tampilkan Confirm
          </Button>
        </div>
      </legend>
    </div>

    <div class="flex">
      <Doc component="Confirm">
      </Doc>
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({
    message: 'Contoh Pesan'
  }),
  methods: {
    showConfirm() {
      var _this = this
      
      this.$confirm.show({
        message: this.message,
        background: 'white',
        cancelText: 'Batal',
        okText: 'OK',
        rtl: false,
        width: '400px',
        handler: function(cb) {
          if(cb) {
            _this.$confirm.close()
            _this.$toast.show({
              message: 'OK'
            })
          } else {
            _this.$confirm.close()
            _this.$toast.show({
              message: 'Batal'
            })
          }
        }
      })
      
    }
  },
  mounted() {
    // console.log(this.$confirm)
  }
}
</script>