<template>
  <div class="flex flex-col w-full p-2">
    <div class="flex w-full">
      <legend>
        DateTimePicker
        <DateTimePicker
          format="YYYY-MM-DD h:i:s" 
          v-model="selected" 
          classes="flex w-full px-4 py-1 focus:outline-none h-10 border boredr-gray-300 rounded"
        >
        </DateTimePicker>
      </legend>  
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({
    selected: ''
  })
}
</script>