<template>
  <div class="flex flex-col p-2">
    <div>
      <Button
        rounded="5"
        @click="modalGrid = true"
      >
        Tampilkan Modal Grid
      </Button>

      <Button
        rounded="5"
        @click="modalList = true"
      >
        Tampilkan Modal List
      </Button>

      <Button
        rounded="5"
        @click="modalFull = true"
      >
        Tampilkan Modal Fullscreen
      </Button>

      <Button
        rounded="5"
        @click="modalSimple = true"
      >
        Tampilkan Modal Kecil
      </Button>
    </div>

    <div class="flex">
      <Doc component="Modal">
      </Doc>
    </div>

    <div 
      class="flex flex-wrap overflow-auto"
    >
      <div 
        v-for="i in 10"
        :key="i"
        class="flex"
      >
        <Card
          border
          margin="2px"
          padding="5px"
          style="height: 200px; width: 200px;"
          class="flex items-center justify-center"
        >
          <span class="flex">
            Sample For Scroll
          </span>
        </Card>
      </div>
    </div>

    <Modal
      v-model="modalGrid"
      width="665px"
      height="700px"
      background="#fff"
    >
      <template #top>
        <div class="flex w-full items-center bg-white border-b bg-gray-300">
          <span class="flex w-full px-4">
            Slot Top
          </span>

          <Button
            type="plain"
            @click="modalGrid = false"
          >
            Close
          </Button>
        </div>
      </template>

      <template #default>
        <div 
          class="flex flex-wrap h-full justify-center p-4"
        >
          <div 
            v-for="i in 30"
            :key="i"
            class="flex"
          >
            <Card
              border
              margin="2px"
              padding="5px"
              style="height: 200px; width: 200px;"
              class="flex items-center justify-center"
              @click="modalGrid = false"
            >
              <span 
                class="flex"
              >
                Click to Close
              </span>
            </Card>
          </div>
        </div>
      </template>

      <template #bottom>
        <div class="flex w-full justify-between bg-white px-4 border-t bg-gray-300">
          <Button
            type="plain"
          >
            Action 1
          </Button>

          <Button
            type="plain"
          >
            Action 2
          </Button>

          <Button
            type="plain"
          >
            Action 3
          </Button>
        </div>
      </template>
    </Modal>

    <Modal
      v-model="modalList"
      persistent
    >
      <template>
        <div class="flex flex-col w-full">
          <div
            v-for="i in 30"
            :key="i"
            class="flex w-full"
          >
            <Card
              border
              padding="5px"
              class="flex w-full cursor-pointer select-none"
              @click="modalList = false"
            >
              Click to Close
            </Card>
          </div>
        </div>
      </template>
    </Modal>

    <Modal
      v-model="modalFull"
      persistent
      fullscreen
    >
      <template>
        <div class="flex flex-wrap w-full">
          <div 
            v-for="i in 30"
            :key="i"
            class="flex w-full sm:w-1/2 md:w-1/4 p-2 justify-center"
          >
            <Card
              border
              margin="2px"
              padding="5px"
              style="height: 200px; width: 200px;"
              class="flex items-center justify-center"
              @click="modalFull = false"
            >
              <span 
                class="flex"
              >
                Click to Close
              </span>
            </Card>
          </div>
        </div>
      </template>
    </Modal>

    <Modal
      v-model="modalSimple"
      persistent
    >
      <template>
        <div class="flex flex-wrap w-full p-2">
          <span @click="modalSimple = false" class="cursor-pointer">
            Simple Modal
          </span>
        </div>
      </template>
    </Modal>
  </div>
</template>

<script>
export default {
  data: () => ({
    modalGrid: false,
    modalList: false,
    modalFull: false,
    modalSimple: false
  })
}
</script>