<template>
  <div class="flex flex-col w-full">
    <div class="flex select-none">
      <legend>
        Neumorphism
      </legend>
    </div>

    <div class="flex w-full">
      <div class="neuro-container">
        <div class="btns-wrapper">
          <button class="btn focus:outline-none">
            <div class="inner-wrapper">
              <i class="material-icons-round">
                skip_previous
              </i>
            </div>
          </button>

          <button 
            class="btn focus:outline-none"  
            @click="isPlay = !isPlay"
          >
            <div class="inner-wrapper">
              <i class="material-icons-round"
                :style="[(isPlay?{color:'orange'}:{})]"
              >
                {{ isPlay ? 'pause' : 'play_arrow'}}
              </i>
            </div>
          </button>

          <button class="btn focus:outline-none">
            <div class="inner-wrapper">
              <i class="material-icons-round">
                skip_next
              </i>
            </div>
          </button>

          <!-- <div class="btn">
            <div class="inner-wrapper">
              <i >
                E
              </i>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({
    isPlay: false
  }),
  mounted() {
    // const btns = document.querySelectorAll('.btn')
    // for (let btn of btns) {
    //   btn.onclick = () => {
    //     btn.classList.toggle('active')
    //     setTimeout(() => {
    //       btn.classList.toggle('active')
    //     }, 50)
    //   }
    // }
  }
}
</script>

<style>
/* @import url("https://fonts.googleapis.com/css?family=Material+Icons+Round"); */
@import url("https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp");

.neuro-container {
  /* background: #E0E5EC; */
  background: linear-gradient(318.32deg, #3b8acb 0%, #47a4f1 55%, #47a4f1 100%);
  /* width: 100%;
  height: 100%; */
  display: grid;
  place-items: center;
  /* position: relative; */
}

.btns-wrapper {
  display: grid;
  grid-auto-flow: column;
  padding: 16px;
  gap: 24px;
  /* transform: scale(3); */
}

.btn {
  width: 62px;
  height: 62px;
  position: relative;
  /* border-radius: 18px; */
  padding: 2px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.btn:hover .inner-wrapper {
  /* background: #47a4f1; */
  /* background: linear-gradient(145deg, #47a4f1, #3b8acb); */
  box-shadow:  5px 5px 10px #3882bf, 
              -5px -5px 10px #4cb0ff;

  /* box-shadow:  9px 9px 16px #3882bf, 
              -9px -9px 16px #4cb0ff; */
}

.btn:active .inner-wrapper {
  background: #47a4f1;
  box-shadow: inset 5px 5px 10px #439ce5, 
            inset -5px -5px 10px #4bacfd;
}

.btn .inner-wrapper {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  /* border-radius: 8px; */
  transition: all .2s ease-in-out;
  display: grid;
  place-items: center;
  /* convex */
  /* background: #47a4f1; */
  /* background: linear-gradient(145deg, #47a4f1, #3b8acb); */
  box-shadow:  5px 5px 10px #3882bf, 
              -5px -5px 10px #4cb0ff;

  /* box-shadow:  9px 9px 16px #3882bf, 
              -9px -9px 16px #4cb0ff; */
  
  /* background-color:#E0E5EC;
  box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px    rgba(255,255,255, 0.5); */

  /* flat */
  /* background: #47a4f1;
  box-shadow:  5px 5px 10px #3882bf, 
        -5px -5px 10px #4cb0ff; */

  /* concave */
  /* background: linear-gradient(145deg, #3b8acb, #47a4f1);
  box-shadow:  5px 5px 10px #3882bf, 
        -5px -5px 10px #4cb0ff; */

}

.btn .inner-wrapper i {
  user-select: none;
  transition: all .2s ease-in-out;
  font-size: 32px;
  position: relative;
  color: rgba(201, 215, 230, 0.8);
  text-shadow: 2px 2px 2px #D6E1EF99, 0 0 0 #000, 2px 2px 2px #D6E1EF00;
}

.btn.active .inner-wrapper {
  /* flat */
  /* background: #47a4f1; */
  /* box-shadow:  5px 5px 10px #439ce5, 
             -5px -5px 10px #4bacfd; */

  /* concave */
  /* background: linear-gradient(145deg, #3b8acb, #47a4f1);
  box-shadow:  5px 5px 10px #3882bf, 
        -5px -5px 10px #4cb0ff; */

  /* pressed */
  box-shadow: inset 5px 5px 10px #439ce5, 
            inset -5px -5px 10px #4bacfd; 
}

.btn.active .inner-wrapper i {
  /* text-shadow: 1px 1px 1px #D6E1EF99, 0 0 0 #000, 1px 1px 1px #D6E1EF00; */
}

.btn:hover .inner-wrapper i {
  color: orange;
}
</style>