<template>
  <div class="flex flex-col w-full">
    <div class="flex w-full">
      <legend class="w-full p-4">
        ProgressBar
        <ProgressBar>
          <div class="flex w-full items-center justify-center">
            <span class="flex text-white">
              Sedang mengunggah gambar...
            </span>
          </div>
        </ProgressBar>
      </legend>
    </div>

    <Doc component="ProgressBar">
    </Doc>
  </div>
</template>