<template>
  <div class="flex flex-col w-full">
    <h2 class="text-2xl font-bold">Radio</h2>
    <hr />

    <div class="flex my-4">
      <ExRadioGroup
        v-model="selected"
        :column="false"
      >
        <template #label>
          Label of RadioGroup | selected value : {{ selected }}
        </template>
        
        <ExRadio
          v-for="(option, index) in options"
          :key="index"
          :value="option['value']"
          :label="option['label']"
        >
        </ExRadio>

        <ExRadio value="Custom" class="mb-2">
          <template #label>
            <span>Custom <strong class="success--text">Label</strong></span>
          </template>
        </ExRadio>
      </ExRadioGroup>
    </div>

    <Doc component="ExRadio">
    </Doc>
  </div>
</template>

<script>
export default {
  data: () => ({
    options: [
      {
        label: 'Option 1',
        value: '1'
      },
      {
        label: 'Option 2',
        value: '2'
      },
      {
        label: 'Option 3',
        value: '3'
      }
    ],
    selected: '2'
  })
}
</script>