<template>
  <div class="flex flex-col w-full">
    <legend class="mb-4 border border-gray-300 p-2">
      Select With Mandatory
      <div class="flex flex-col w-full p-2">
        <div class="flex">
          <span>
            Terpilih: {{ selected }}
          </span>
        </div>

        <Select
          v-model="selected"
          :items="items"
          label="Sample Label"
          mandatory
        >
          <template #default="{ selected }">
            {{ selected ? selected['label'] : 'Silakan Pilih' }}
          </template>

          <template #item="{ item }">
            <div class="flex">
              {{ item['label'] }}
            </div>
          </template>
        </Select>
      </div>
    </legend>
    
    <Doc component="Select">
    </Doc>
  </div>
</template>

<script>
export default {
  data: () => ({
    selected: null,
    items: [
      {
        label: 'Opsi A',
        value: 'A'
      },
      {
        label: 'Opsi B',
        value: 'B'
      },
      {
        label: 'Sample Opsi Panjang Satu Baris',
        value: 'C'
      }
    ]
  })
}
</script>