<template>
  <div class="flex flex-col w-full">
    <h2 class="text-2xl font-bold">Switch</h2>
    <hr />
    
    <Example
      path="ExSwitch"
    >
    </Example>

    <Doc component="ExSwitch">
    </Doc>
    
  </div>
</template>

<script>
import Example from '@/components/Example'

export default {
  components: {
    Example
  },
  data: () => ({
    checked: false
  }),
}
</script>