<template>
  <div class="flex flex-col w-full">
    <h2 class="text-2xl font-bold">Tab</h2>
    <hr />
    
    <Example
      path="Tab"
    >
    </Example>

    <Doc 
      component="Tabs"
      class="mt-8"
    >
    </Doc>
    
  </div>
</template>

<script>
import Example from '@/components/Example'

export default {
  components: {
    Example,
    // Doc: this.$ex('Doc')
  }
}
</script>