<template>
  <div class="flex flex-col w-full">
    <legend>
      Sample
      <div class="flex flex-col">
        <div class="flex">
          <input 
            type="text" 
            v-model="value"
            placeholder="Ketik class di sini"
            class="border border-gray-300 rounded px-4 py-1 focus:outline-none w-full"
          >
        </div>

        <Test v-model="value">
          <div class="flex w-full bg-white p-4 items-center justify-center">
            <span class="font-bold">
              Sample
            </span>
          </div>
        </Test>

        <Test2 v-model="value">
          <div class="flex w-full bg-white p-4 items-center justify-center">
            <span class="text-green-500 font-bold">
              Sample
            </span>
          </div>
        </Test2>
      </div>
      
    </legend>
  </div>
</template>

<script>
import Test2 from '../../../lib/templates/components/Test/index.vue'

export default {
  components: {
    Test2
  },
  data: () => ({
    value: ''
  })
}
</script>