<template>
  <div class="flex flex-col w-full">
    <div class="flex my-2">
      <input type="number" v-model="parrent">
    </div>

    <div class="flex my-2">
      <div class="flex bg-red-500" :style="{'font-size' : `${parrent}px`}">
        <span class="bg-green-500" style="padding: 0.25em 1em;">
          qwertyuiopasdfghjklzxcvbnm1234567890 {{ parrent }}
        </span>
      </div>
    </div>

    <!-- <div class="flex flex-col w-full">
      <span
        v-for="i in 34"
        :key="i"
        :style="{'font-size': `${i}px`}"
      >
        {{i}} qwertyuiopasdfghjklzxcvbnm1234567890
      </span>
    </div> -->
  </div>
</template>

<script>
export default {
  data: () => ({
    parrent: 20,
  }),
}
</script>