<template>
  <div class="flex flex-col w-full p-2">

    <Example
      path="TextField"
    >
    </Example>    
    
    <div class="flex mb-4">
      <Doc component="TextField">
      </Doc>
    </div>

    <div class="flex flex-col w-full">
      <h2 class="text-2xl">
        Example
      </h2>
      <hr class="mb-2" />

      <div class="flex">
        <TextField 
          type="text"
          label="Text Only"
          placeholder="Type Text Here"
          v-model="textValue"
          required
        >
        </TextField>
      </div>

      <div class="flex">
        <TextField 
          type="text"
          label="Text With Counter"
          placeholder="Type Text Here"
          counter
          v-model="textValue"
        >
        </TextField>
      </div>

      <div class="flex">
        <TextField 
          type="number"
          label="Number With Counter"
          placeholder="Type Number Here"
          counter
          v-model="numberValue"
        >
        </TextField>
      </div>

      <div class="flex">
        <TextField 
          type="password"
          label="Password With Counter"
          placeholder="Type Password Here"
          counter
          v-model="passwordValue"
        >
        </TextField>
      </div>

      <div>
        <TextField 
          type="text"
          label="Text With Validator and Counter"
          placeholder="Type Text Here"
          counter
          v-model="textValue"
          :rules="[
            v => (v.length <= 10) || 'Jumlah karakter tidak boleh melebihi 10',    
          ]"
          required
        >
        </TextField>
      </div>

      <div class="flex">
        <TextField 
          type="text"
          label="Text With Affix"
          placeholder="Type Text Here"
          v-model="textValue"
          prefix="Prefix"
          suffix="Suffix"
        >
        </TextField>
      </div>

      <div class="flex">
        <TextField 
          type="text"
          label="ReadOnly"
          placeholder="Type Text Here"
          v-model="textValue"
          readonly
        >
        </TextField>
      </div>
      
      <div class="flex">
        <TextField 
          type="text"
          label="Text With Affix ReadOnly"
          placeholder="Type Text Here"
          v-model="textValue"
          prefix="Prefix"
          suffix="Suffix"
          readonly
        >
        </TextField>
      </div>
    </div>
  </div>
</template>

<script>
import Example from '@/components/Example'

export default {
  components: {
    Example
  },
  data: () => ({
    textValue: '',
    numberValue: '',
    passwordValue: '',
  })
}
</script>