<template>
  <div class="flex flex-col w-full">
    <div 
      class="flex flex-col w-full"
      style="max-width: 600px;"
    >
      <div>
        Timeline
      </div>
      
      <Timeline
        line-color="#0000ff"
      >
        <TimelineItem
          v-for="i in 5"
          :key="i"
          color="red"
        >
          <div 
            class="flex flex-col w-full"
            :style="{color: i === 1 ? 'black' : 'grey'}"
          >
            <span
              class="font-bold"
            >
              {{ getNow() }}
            </span>

            <span
              class="font-bold"
            >
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </span>
          </div>
        </TimelineItem>
      </Timeline>
      
    </div>

    <Doc component="Timeline">
    </Doc>

    <Doc component="TimelineItem">
    </Doc>
  </div>
</template>

<script>
export default {
  methods: {
    getNow() {
      const today = new Date();
      const date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
      const time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
      const dateTime = date +' '+ time;
      return dateTime;
    }
  }
}
</script>