<template>
  <div class="flex flex-col w-full">
    <div class="flex flex-wrap">
      <Button
        v-for="position in positions"
        :key="position"
        rounded="5"
        shadow
        @click="toast(position, position)"
      >
        <span class="capilatize">
          {{ position }}
        </span>
      </Button>
    </div>

    <div class="flex">
      <Doc component="Toast">
      </Doc>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    toast(message, position = 'top') {
      this.$toast.show({
        message: message,
        background: 'rgb(50, 50, 50)',
        duration: 3000,
        position: position
      })
    }
  },
  data: () => ({
    positions: [
      'top-left',
      'top',
      'top-right',
      'center',
      'bottom-left',
      'bottom',
      'bottom-right'
    ]
  })
}
</script>