<template>
  <div
    class="tab-item p-4"
    :id="value"
    :style="{'display': $parent['value'] === value ? 'flex' : 'none'}"
  >
    <slot />
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: String
    }
  }
}
</script>