<template>
  <div
    class="tabs elevation-2"
    :class="[vertical?'tabs--vertical':'', grow?'tabs--grow':'', center?'tabs--centered':'', right?'tabs--right':'']"
  >
    <div 
      class="tabs-bar flex"
      :style="{background: background, color: color}"
    >
      <div class="slide-group__wrapper">
        <div class="slide-group__content"
          @click.prevent="ev => click(ev)"
        >
          <TabsSlider 
            :style="sliderCss"
          />

          <slot name="tabs-bar" />
        </div>
      </div>
    </div>

    <div class="tabs-items">
      <div style="height: inherit; position: relative; transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);">
        <slot name="tabs-items" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: String
    },
    vertical: {
      type: Boolean,
      default: false
    },
    background: {
      type: String,
      default: '#47a4f1'
    },
    color: {
      type: String,
      default: 'white'
    },
    grow: {
      type: Boolean,
      default: false
    },
    center: {
      type: Boolean,
      default: false
    },
    right: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    sliderCss: {}
  }),
  methods: {
    click(ev) {
      var { left: parentLeft, top: parentTop } = ev.target.offsetParent.getBoundingClientRect()

      var { left, top, width, height } = ev.target.getBoundingClientRect()
      
      if(this.vertical) {
        this.sliderCss = {
          'height': `${height}px`,
          'left': `0px`,
          'width': `2px`,
          'top': `${top-parentTop}px`,
          'background': this.color
        }
      } else {
        this.sliderCss = {
          'height': '2px',
          'left': `${left-parentLeft}px`,
          'width': `${width}px`,
          'background': this.color
        }
      }
    }
  },
  mounted() {
    if(!this.value && this.$slots['tabs-bar'].length) {
      this.$emit('input', this.$slots['tabs-bar'][0]['componentOptions']['propsData']['href'])
    }
  },
  watch: {
    value: {
      handler: function(newVal) {
        // var temp = this.$slots['tabs-bar'].find(tab => tab['componentOptions']['propsData']['href'] === newVal)
        // console.log(temp)
      }
    }
  }
}
</script>

<style>
.tabs {
    flex: 1 1 auto;
    width: 100%;
}

.elevation-2 {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12) !important;
}

.tabs--vertical {
    display: flex;
}

.tabs-bar {
    border-radius: inherit;
    height: 48px;
}

.tabs--vertical > .tabs-bar {
    flex: 0 1 auto;
    height: auto;
}

.slide-group__wrapper {
    contain: content;
    display: flex;
    flex: 1 1 auto;
    overflow: hidden;
}

.slide-group__content {
    display: flex;
    flex: 1 0 auto;
    position: relative;
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    white-space: nowrap;
}

.tabs--vertical > .tabs-bar .slide-group__content {
    flex-direction: column;
}

.tabs-items {
    flex: 0 1 auto;
    position: relative;
    max-width: 100%;
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
}

.tabs > .tabs-bar .tab:not(.tab--active), .tabs > .tabs-bar .tab:not(.tab--active) > .icon, .tabs > .tabs-bar .tab--disabled {
    /* color: rgba(255, 255, 255, 0.6); */
  color: inherit;
  opacity: 0.6;
}

.tab.tab--active {
    color: inherit;
}

.tabs.tabs--vertical .tab.tab--active {
    color: inherit;
}

.tabs--grow > .tabs-bar .tab {
    flex: 1 0 auto;
    max-width: none;
}

.tabs--centered > .tabs-bar .tabs-slider-wrapper + * {
    margin-left: auto;
}

.tabs--centered > .tabs-bar .slide-group__content > *:last-child {
    margin-right: auto;
}

.tabs--right > .tabs-bar .tabs-slider-wrapper + .tab {
    margin-left: auto;
}

.tabs--right > .tabs-bar .tab:last-child {
    margin-right: 0;
}


</style>