<template>
  <div class="container flex flex-col h-full min-h-screen bg-white relative">
    <div class="flex-1"
      style="background: #eeeeee;"
    >
      <nuxt />
    </div>

    <div class="flex sticky bottom-0 h-16 items-center justify-between shadow"
      style="background: #eeeeee;"
    >
      <nuxt-link
        :to="menu['path']"
        v-for="(menu, index) in menus"
        :key="index"
        class="flex w-full items-center justify-center text-gray-700 hover:text-red-500 cursor-pointer select-none"
      >
        <div
          class="flex flex-col items-center justify-center n-icon w-16 h-16 p-4"
        >
          <div>
            I
          </div>
          <span style="font-size: 0.8em;">
            {{ menu['label'] }}
          </span>
        </div>
      </nuxt-link>
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({
    menus: [
      {
        icon: '',
        label: 'Beranda',
        path: '/dashboard'
      },
      {
        icon: '',
        label: 'Transaksi',
        path: '/order'
      },
      {
        icon: '',
        label: 'Produk',
        path: '/product'
      },
      {
        icon: '',
        label: 'YubiSAKU',
        path: '/yubi-saku'
      },{
        icon: '',
        label: 'Lainnya',
        path: '/settings'
      }
    ]
  })
}
</script>

<style scoped>
.n-icon {
  border-radius: 30px;
  background: #eeeeee;
  box-shadow:  6px 6px 12px #d6d6d6, 
              -6px -6px 12px #ffffff;
}
</style>