<template>
  <Card
    v-show="value"
    :rounded="rounded"
    :padding="padding"
    :style="{
      'width': fit ? 'fit-content' : 'auto',
      'min-width': `100px`,
      'max-width': `${width}`,
      'background': `${background}`
    }"
    @click="ev => $emit('click', ev)"
  >
    <template #top>
      <slot name="icon">
      </slot>
    </template>

    <template>
      <div 
        class="flex justify-between"
      >
        <span
          class="w-full flex-shrink"
          :style="{
            'color': `${color}`,
            ...lineClamp
          }"
        >
          <slot name="default">
            Message
          </slot>
        </span>

        <slot name="action">
          <div
            class="flex items-center justify-center"
          >
            <Button
              v-if="closeable"
              type="plain"
              fit
              color="rgb(0, 122, 255)"
              class="flex-shrink-0"
              @click="$emit('input', !value)"
            >
              OK
            </Button>
          </div>
        </slot>
      </div>
    </template>
  </Card>
</template>

<script>
import Card from '../Card'
import Button from '../Button'

export default {
  components: {
    Card,
    Button
  },
  props: {
    value: {
      type: Boolean,
      default: true
    },
    width: {
      type: String,
      default: '568px'
    },
    background: {
      type: String,
      default: 'rgb(50, 50, 50)'
    },
    color: {
      type: String,
      default: 'white'
    },
    closeable: {
      type: Boolean,
      default: false
    },
    large: {
      type: Boolean,
      default: false
    },
    fit: {
      type: Boolean,
      default: false
    },
    padding: {
      type: String,
      default: '8px 16px'
    },
    rounded: {
      type: String,
      default: '5px'
    }
  },
  computed: {
    lineClamp: function() {
      return {
        'display': '-webkit-box',
        '-webkit-box-orient': 'vertical',
        '-webkit-line-clamp': this.large ? '3' : '1',
        'overflow': 'hidden',
        'word-break': this.large ? 'break-word' : 'break-all'
      }
    }
  }
}
</script>