<template>
  <a 
    tabindex="0"
    :href="href"
    aria-selected="true"
    role="tab"
    class="tab"
    :class="[$parent['value'] === href ? 'tab--active' : '']"
    @click="val => click(val)"
  >
    <slot />
  </a>
</template>

<script>
export default {
  props: {
    href: {
      type: String
    }
  },
  methods: {
    click(val) {
      this.$parent.$emit('input', this.href)
      this.$emit('click', val)
    }
  }
}
</script>

<style scoped>
.tab {
    align-items: center;
    display: flex;
    flex: 0 1 auto;
    font-size: 0.875rem;
    font-weight: 500;
    justify-content: center;
    letter-spacing: 0.0892857143em;
    line-height: normal;
    min-width: 90px;
    max-width: 360px;
    outline: none;
    padding: 0 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tab {
  color: inherit;
}

.tab:before {
    background-color: currentColor;
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
}

.tabs--vertical > .tabs-bar .tab {
    height: 48px;
}
</style>