<template>
  <label
    class="radio-wrapper"
  >
    <input
      aria-checked="true" 
      role="radio" 
      type="radio" 
      :value="value"
      :checked="$parent['value'] === value"
      class="radio"
    >

    <span class="radio-mark"></span>
    
    <slot name="label">
      {{ label }}
    </slot>
  </label>
</template>

<script>
export default {
  props: {
    label: {
      type: String,
      default: '-'
    },
    value: {
      type: [String, Number],
      default: ''
    }
  },
}
</script>

<style scoped>
.radio-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;

  margin: 8px 0;

  cursor: pointer;
  position: relative;
}

.radio-wrapper:not(:last-child):not(:only-child) {
    margin-bottom: 8px;
}

.radio {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.radio-mark {
  width: 16px;
  height: 16px;

  border: 1px solid hsl(0, 0%, 14%);
  border-radius: 100%;
  margin-right: 16px;

  position: relative;
}

.radio-mark::before,
.radio-mark::after {
  content: "";
  display: block;

  width: inherit;
  height: inherit;

  border-radius: inherit;

  position: absolute;
  transform: scale(0);
  transform-origin: center center;
  margin: -1px;
}

.radio-mark:before {
  background: hsl(0, 0%, 14%);
  opacity: 0;
  transition: .3s;
}

.radio-mark::after {
  background: hsl(250, 100%, 44%);
  opacity: .4;
  transition: .6s;
}



.radio:checked+.radio-mark::before {
  opacity: 1;
  transform: scale(.6);
}


/* other states */
.radio:hover+.radio-mark,
.radio:focus+.radio-mark {
  border: 1px solid hsl(250, 100%, 44%);
}

.radio:hover+.radio-mark:before,
.radio:focus+.radio-mark:before {
  background: hsl(250, 100%, 44%);
}

.radio:hover~.text {
  color: hsl(250, 100%, 44%);
}

.radio:focus+.radio-mark::after,
.radio:active+.radio-mark::after {
  opacity: .1;
  transform: scale(2.6);
}
</style>