<template>
  <div class="flex flex-col w-full">
    <div
      @click.prevent="active = !active"
      class="cursor-pointer select-none"
      :class="[active?'text-blue-500':'']"
    >
      <slot name="header" :active="active">
        <div class="flex justify-between">
          <div class="flex w-full">
            
          </div>
          <div>
            {{ active ? '-' : '+'}}
          </div>
        </div>
      </slot>
    </div>
    
    <div
      v-show="active"
    >
      <div
        v-for="(child, index) in children"
        :key="index"
        class="flex cursor-pointer select-none"
      >
        <template
          v-if="child['children'] && child['children'].length"
        >
          <Accordion
            :children="child['children']"
            class="block"
          >
            <template #header="{ active }">
              <div 
                class="flex w-full pl-8 pr-4 py-1 my-px justify-between rounded-md hover:bg-gray-200"
              >
                <div>
                  {{ child['label'] }}
                </div>

                <div 
                  style="min-width: 16px;"
                  class="text-center font-bold"
                >
                  {{ active ? '-':'+'}}
                </div>
              </div>
            </template>

            <template #content="{ children }">
              <nuxt-link 
                :to="children['path']"
                class="flex w-full pl-12 pr-4 py-1 my-px justify-between rounded-md hover:bg-gray-200"
                :class="[$route['path'] === children['path']?'text-blue-500 bg-gray-200':'']"
              >
                <span>
                  {{ children['label'] }}
                </span>

                <span 
                  v-if="children['badge']"
                  class="px-2 py-1 border border-transparent rounded text-xs capitalize"
                  :style="{color: children['badge']['color'], background: children['badge']['background']}"
                >
                  {{ children['badge']['label'] }}
                </span>
              </nuxt-link>
            </template>
          </Accordion>
        </template>
        <template
          v-else
        >
          <slot name="content" :children="child">
            <div>
              {{ child['label'] }}
            </div>
          </slot>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
import Accordion from '../Accordion/index.vue'

export default {
  components: {
    Accordion
  },
  props: {
    children: {
      type: Array,
      default: () => ([])
    }
  },
  data: () => ({
    active: false
  })
}
</script>