<template>
  <div class="flex flex-col fixed inset-0 bg-white relative">
    <div
      class="flex sticky top-0 h-16 items-center select-none z-10"
      style="background: rgba(0, 0, 0, 0.8)"
    >
      <span 
        class="flex px-4 py-2 text-white cursor-pointer select-none hover:text-blue-500"
        @click="navIsOpen = !navIsOpen"
      >
        ☰
      </span>

      <span class="flex py-2 text-white">
        Dokumentasi Komponen
      </span>
    </div>

    <div class="relative"
      style="height: calc(100vh - 64px);"
    >
      <div 
        class="flex flex-col border-r bg-white absolute inset-0 overflow-y-auto"
        style="transition: 0.5s;"
        :style="{width: navIsOpen ? '320px' : '0', marginLeft: navIsOpen ? '0' : '-320px'}"
      >
        <Accordion
          v-for="(item, index) in menu"
          :key="index"
          :children="item['children']"
          class="block"
        >
          <template #header="{ active }">
            <div 
              class="flex w-full px-4 py-1 my-px justify-between rounded-md hover:bg-gray-200"
            >
              <div>
                {{ item['label'] }}
              </div>

              <div 
                style="min-width: 16px;"
                class="text-center font-bold"
              >
                {{ active ? '-':'+'}}
              </div>
            </div>
          </template>

          <template #content="{ children }">
            <nuxt-link 
              :to="children['path']"
              class="flex w-full pl-8 pr-4 py-1 my-px justify-between rounded-md hover:bg-gray-200"
              :class="[$route['path'] === children['path']?'text-blue-500 bg-gray-200':'']"
            >
              <span>
                {{ children['label'] }}
              </span>

              <span 
                v-if="children['badge']"
                class="px-2 py-1 border border-transparent rounded text-xs capitalize"
                :style="{color: children['badge']['color'], background: children['badge']['background']}"
              >
                {{ children['badge']['label'] }}
              </span>
            </nuxt-link>
          </template>
        </Accordion>

        <!-- <div 
          v-for="i in 30"
          :key="i"
          class="flex p-2"
        >
          Sample
        </div> -->
      </div>

      <div 
        class="bg-white absolute inset-0 overflow-y-auto"
        style="transition: margin-left .5s;"
        :style="{marginLeft: navIsOpen? '320px' : '0'}"
      >
        <nuxt />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    treeMenu: (vm) => vm.$store.getters['treeMenu'],
    menu: (vm) => vm.$store.getters['menu']
  },
  data: () => ({
    navIsOpen: false
  })
}
</script>

<style>
html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}
</style>
