<template>
  <div
    style="display: flex; line-height: 1.5; background: white;"
  >
    <div class="application-wrap">
      <div class="toolbar app-bar app-bar--fixed"
        style="height: 64px; margin-top: 0px; transform: translateY(0px); left: 0px; right: 0px; background: white; color: white;"
      >
        <div class="flex items-center px-4 py-1"
          style="height: 64px; background: rgba(0, 0, 0, 0.8);"
        >
          <span 
            class="flex px-4 py-2 text-white cursor-pointer select-none hover:text-blue-500"
            @click="navIsOpen = !navIsOpen"
          >
            ☰
          </span>

          <span class="flex py-2 text-white">
            Dokumentasi Komponen
          </span>
        </div>
      </div>

      <div 
        class="navigation-drawer navigation-drawer--fixed bg-green-500"
        style="height: 100vh; top: 64px; max-height: calc(100% - 64px); transform: translateX(0%); width: 300px; background: white; z-index: 5;"
        :style="{width: navIsOpen ? '300px' : '0', marginLeft: navIsOpen ? '0' : '-300px', marginRight: navIsOpen ? '0' : '300px'}"
      >
        <div class="navigation-drawer__content">
          <!-- <div>Banner</div>
          <hr /> -->

          <div class="list mx-2">
            <Accordion
              v-for="(item, index) in menu"
              :key="index"
              :children="item['children']"
              class="block"
            >
              <template #header="{ active }">
                <div 
                  class="flex w-full px-4 py-1 my-px justify-between rounded-md hover:bg-gray-200"
                >
                  <div>
                    {{ item['label'] }}
                  </div>

                  <div 
                    style="min-width: 16px;"
                    class="text-center font-bold"
                  >
                    {{ active ? '-':'+'}}
                  </div>
                </div>
              </template>

              <template #content="{ children }">
                <nuxt-link 
                  :to="children['path']"
                  class="flex w-full pl-8 pr-4 py-1 my-px justify-between rounded-md hover:bg-gray-200"
                  :class="[$route['path'] === children['path']?'text-blue-500 bg-gray-200':'']"
                >
                  <span>
                    {{ children['label'] }}
                  </span>

                  <span 
                    v-if="children['badge']"
                    class="px-2 py-1 border border-transparent rounded text-xs capitalize"
                    :style="{color: children['badge']['color'], background: children['badge']['background']}"
                  >
                    {{ children['badge']['label'] }}
                  </span>
                </nuxt-link>
              </template>
            </Accordion>
          </div>
        </div>

        <div class="navigation-drawer__append">
          <!-- <hr role="separator" class="divider" style="overflow: visible" /> -->

          <!-- <div class="flex px-4 py-2">
            <div
              class="flex items-center h-12"
              style="min-width: 64px; padding: 0 16px;"
            >
              <span 
                class="flex"
                style="font-size: 0.875rem;"
              >
                Version {{ version }}
              </span>
            </div>
          </div> -->
        </div>
      
        <div class="navigation-drawer__border"></div>
      </div>

      <div 
        class="content"
        style="padding-top: 64px;"
        :style="{'padding-left': navIsOpen ? '300px':'0'}"
      >
        <div class="content-wrap">
          <div 
            class="responsive overflow-visible mx-auto"
            style="max-width: 1024px;"
          >
            <div class="responsive__content">
              <div class="container">
                <nuxt />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</template>

<script>
var pjson = require('../../package.json');

export default {
  computed: {
    // treeMenu: (vm) => vm.$store.getters['treeMenu'],
    menu: (vm) => vm.$store.getters['menu'],
    version: function() {
      return pjson.version
    }
  },
  data: () => ({
    navIsOpen: false
  })
}
</script>

<style>
html {
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  /* overflow-y: scroll; */
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.application-wrap {
  flex: 1 1 auto;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100%;
  position: relative;
}

.toolbar {
    contain: layout;
    display: block;
    flex: 1 1 auto;
    max-width: 100%;
    transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1) transform, 0.2s cubic-bezier(0.4, 0, 0.2, 1) background-color, 0.2s cubic-bezier(0.4, 0, 0.2, 1) left, 0.2s cubic-bezier(0.4, 0, 0.2, 1) right, 280ms cubic-bezier(0.4, 0, 0.2, 1) box-shadow, 0.25s cubic-bezier(0.4, 0, 0.2, 1) max-width, 0.25s cubic-bezier(0.4, 0, 0.2, 1) width;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.app-bar.app-bar--fixed {
    position: fixed;
    top: 0;
    z-index: 5;
}

.navigation-drawer {
    -webkit-overflow-scrolling: touch;
    display: flex;
    flex-direction: column;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    pointer-events: auto;
    top: 0;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    will-change: transform;
    transition-property: transform, width;
}

.navigation-drawer--fixed {
    position: fixed;
}

.content {
    display: flex;
    flex: 1 0 auto;
    max-width: 100%;
    transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.content-wrap {
  flex: 1 1 auto;
  max-width: 100%;
  position: relative;
}

.navigation-drawer__content {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.navigation-drawer__border {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 1px;

    background-color: rgba(0, 0, 0, 0.12);
}

.list {
    border-radius: 4px;
    display: block;
    padding: 8px 0;
    position: static;
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    will-change: box-shadow;

    padding-bottom: 28px !important;
}

.responsive {
    position: relative;
    overflow: hidden;
    flex: 1 0 auto;
    max-width: 100%;
    display: flex;
}

.responsive__content {
    flex: 1 0 0px;
    max-width: 100%;
}

.application-wrap .overflow-visible {
    overflow: visible !important;
}

.container {
    width: 100%;
    padding: 12px;
    margin-right: auto;
    margin-left: auto;
}

.divider {
  display: block;
  flex: 1 1 0px;
  max-width: 100%;
  height: 0px;
  max-height: 0px;
  border: solid;
  border-width: thin 0 0 0;
  transition: inherit;

  border-color: rgba(0, 0, 0, 0.12);
}

@media (min-width: 960px)
.container {
    max-width: 900px;
}

@media (min-width: 1264px)
.container {
    max-width: 1185px;
}

@media (min-width: 1904px)
.container {
    max-width: 1785px;
}





</style>
