<template>
  <legend class="flex flex-col w-full">
    <span 
      v-show="label !== ''"
      class="text-sm px-1 select-none"
    >
      {{ label }}
    </span>

    <div class="flex flex-row border border-gray-400 rounded overflow-hidden h-10">
      <div class="flex justify-center relative h-full w-full">
        <div class="flex flex-row w-full items-center relative min-w-0 min-h-0 h-full px-2">
          
          <span class="block w-full truncate text-sm mr-2">
            <slot name="default" :selected="selected">
              {{ selected ? selected : 'Silakan Pilih' }}
            </slot>
          </span>
          
          <div class="flex flex-col justify-center text-gray-400 mr-1"
            style="margin-right: -3px; padding-left: 4px; border-left-width: 1px; border-color: rgb(224, 224, 224); height: 19px;"
          >
            <svg 
              viewBox="30 30 450 450" 
              class="" 
              width="16" 
              height="16" 
              style="color: rgb(189, 189, 189); position: relative; font-size: 16px; width: 16px; height: 16px; text-align: center; fill: rgb(189, 189, 189);"
            >
              <path d="M128.4 160L96 192.3 256 352l160-159.7-32.4-32.3L256 287.3z"></path>
            </svg>
          </div>
        </div>

        <client-only>
          <select class="absolute inset-0 w-full opacity-0 cursor-pointer" @change="change">
            <template v-for="(item, index) in items">
              <template v-if="item.children && item.children.length">
                <optgroup :key="index" :label="item.label">
                  <option 
                    v-for="(subItem, indexSubitem) in item.children"
                    :key="indexSubitem"
                    :value="subItem.value"
                    :selected="selected && selected.value === subItem.value"
                    >
                    <slot name="subItem" :subItem="subItem">
                      {{ subItem }}
                    </slot>
                  </option>      
                </optgroup>
              </template>

              <template v-else>
                <option 
                  :key="index"
                  :value="item.value"
                  :selected="selected && selected.value === item.value"
                  >
                  <slot name="item" :item="item">
                    {{ item }}
                  </slot>
                </option>
              </template>
            </template>
          </select>
        </client-only>
        
      </div>
    </div>
  </legend>
</template>

<script>
export default {
  props: {
    label: {
      type: String,
      default: ''
    },
    value: {
      type: [String, Number],
    },
    items: {
      type: Array,
      default: () => []
    },
    mandatory: {
      type: Boolean,
      default: false,
      description: 'Membuat select wajib memilih salah satu opsi, jika tidak ada yg dipilih, maka akan memilih index ke-0'
    }
  },
  computed: {
    selected: {
      get: function() {
        return this.items.length ? this.items.find(item => item['value'] === this.value) :  undefined 
      },
      set: function(newVal) {
        this.$emit('input', newVal)
      }
    }
  },
  methods: {
    change(event) {
      var temp = null
      for(let i=0; i<this.items.length; i++) {
        if(this.items[i].children && this.items[i].children.length) {
          for(let j=0; j<this.items[i].children.length; j++) {
            if(this.items[i].children[j].value != event.target.value) {
              continue;
            } 
            temp = this.items[i].children[j] 
          }
        } else {
          if(this.items[i].value != event.target.value) {
            continue;
          }
          temp = this.items[i]
        }
      }
      
      this.selected = temp.value
    }
  },
  watch: {
    value: {
      immediate: true,
      handler: function(newVal) {
        var result = this.items.find(item => item['value'] === newVal)
        if(result === undefined) {
          this.$emit('input', this.mandatory ? (this.items.length ? this.items[0]['value'] : undefined) : undefined )
        } else {
          this.$emit('input', result['value'] )
        }
      }
    }
  }
}
</script>