<template>
<!-- style="height: 2px; left: 0px; width: 90px;" -->
  <div class="tabs-slider-wrapper">
    <div class="tabs-slider"></div>
  </div>
</template>

<style scoped>
.tabs-slider-wrapper {
    bottom: 0;
    margin: 0 !important;
    position: absolute;
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    z-index: 1;
}

.tabs-slider {
    background-color: inherit;
    height: 100%;
    width: 100%;
}

.tabs--vertical > .tabs-bar .tabs-slider {
    height: 100%;
}
</style>