<template>
  <div class="toggleWrapper">
    <input 
      type="checkbox" 
      :name="'toggle_'+id" 
      class="mobileToggle" 
      :id="'toggle_'+id"
      :checked="value"
      @input="val => $emit('input', val.target.checked)"  
    >
    <label :for="'toggle_'+id" class="cursor-pointer"></label>
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    id: null
  }),
  mounted() {
    this.id = this._uid
    // console.log(this._uid)
  }
}
</script>

<style scoped>
.inactiveMixin {
  content: "";
  position: absolute;
  display: block;
}
.beforeAnimation {
  transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
}
.afterAnimation {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0px 0 rgba(0, 0, 0, 0.04), 0 4px 9px rgba(0, 0, 0, 0.13), 0 3px 3px rgba(0, 0, 0, 0.05);
  transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
}
.toggleWrapper {
  /* margin: auto; */
  display: flex;
  height: 100%;
  align-items: center;
}
.toggleWrapper input.mobileToggle {
  opacity: 0;
  position: absolute;
}
.toggleWrapper input.mobileToggle + label {
  position: relative;
  display: inline-block;
  user-select: none;
  transition: .4s ease;
  height: 30px;
  width: 51px;
  border: 1px solid #e4e4e4;
  border-radius: 60px;
  background: #e9e9ea;
}
.toggleWrapper input.mobileToggle + label:before {
  content: "";
  position: absolute;
  display: block;
  transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
  height: 30px;
  width: 51px;
  top: 0;
  left: 0;
  border-radius: 60px;
}
.toggleWrapper input.mobileToggle + label:after {
  content: "";
  position: absolute;
  display: block;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0), 0 2px 0px 0 rgba(0, 0, 0, 0), 0 2px 6px rgba(0, 0, 0, 0.13), 0 2px 2px rgba(0, 0, 0, 0.05);
  transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
  background: #ffffff;
  height: 28px;
  width: 28px;
  top: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: 60px;
}
.toggleWrapper input.mobileToggle:checked + label:before {
  background: #67cd67;
  transition: width 0.2s cubic-bezier(0, 0, 0, 0.1);
}
.toggleWrapper input.mobileToggle:checked + label:after {
  left: 22px;
  right: 0px;
  top: 1px;
  bottom: 0px;
}
</style>