<template>
  <div
    class="flex flex-col w-full"
  >
    <div class="flex flex-wrap justify-center">
      <div
        v-for="i in 10"
        :key="i"
        class="flex p-1 w-full"
      >
        <Card
          border
          border-color="#e2e8f0"
          border-width="1"
          rounded="5px"
          margin="0"
          padding="0"
          shadow
          shadow-color="#ddd"
          shadow-width="0 1px 1px"
          class="flex w-full bg-white"
        >
        <template #default>
          <nuxt-link 
            class="p-2 cursor-pointer select-none"
            to="/settings/view"
          >
            Menu
          </nuxt-link>
        </template>
        </Card>
      </div>
    </div>

  </div>
</template>

<script>
export default {
  layout: 'admin',
  data: () => ({
    modal: false
  })
}
</script>