<template>
  <div
    class="flex flex-col w-full relative min-h-screen"
  >
    <!-- :style="{
        height: scrollY <= 180 ? 180 - scrollY+'px' : '0px',
      }" -->
    <!-- <div 
      class="relative inset-0 items-center justify-center bg-white"
    >
      <div 
        class="flex w-full h-full items-center justify-center"
        style="padding-top: 60px;"
      >
        <span 
          class="flex"
          :style="{
            opacity: scrollY <= 180 ? 1 - (scrollY / 100) : 0
          }"
        >
          {{ appbar + ' ' + scrollY }}
        </span>
      </div>
    </div> -->

    <!-- <div class="flex sticky top-0 w-full h-full bg-white"
      style="height: 60px; scroll-snap-align: start;"
    >
      <div 
        class="flex w-full h-full items-center justify-center"
      >
        <div 
          class="flex px-4 text-gray-600 cursor-pointer hover:text-blue-500"
          @click="$router.go(-1)"
        >
          &lt;
        </div>

        <div 
          class="flex w-full items-center truncate"
          :style="{
            opacity: scrollY < 180 ? (scrollY / 100) : 1
          }"
        >
          <span class="flex truncate">
            View
          </span>
        </div>
      </div>
    </div> -->

    <div class="flex bg-blue-500 sticky top-0"
      style="height: 60px;"
    >
      Header
    </div>

    <div class="flex flex-1 overflow-auto bg-yellow-500">
      <div class="flex-wrap w-full justify-center">
        <div
          v-for="i in 30"
          :key="i"
          class="flex p-1 w-full"
        >
          <Card
            border
            border-color="#e2e8f0"
            border-width="1"
            rounded="5px"
            margin="0"
            padding="0"
            shadow
            shadow-color="#ddd"
            shadow-width="0 1px 1px"
            class="flex w-full"
          >
            <template #default>
              <div 
                class="p-2 text-red-500 cursor-pointer select-none"
                @click="modal = true"
              >
                Click Me {{ i }}
              </div>
            </template>
          </Card>
        </div>
      </div>
    </div>
    
    <div class="flex sticky bottom-0 left-0 right-0 bg-red-500"
      style="height: 60px;"
    >
      <div class="flex bg-green-500 items-center justify-center">
        Action
      </div>
    </div>










    <Modal
      v-model="modal"
      :persistent="true"
      width="70vw"
      height="90vh"
      background="#fff"
      class="z-10"
    >
      <template #top>
        <div class="flex w-full items-center bg-white border-b bg-gray-300">
          <span class="flex w-full px-4">
            Slot Top
          </span>

          <Button
            type="plain"
            @click="modal = false"
          >
            Close
          </Button>
        </div>
      </template>

      <template #default>
        <div 
          class="flex flex-wrap h-full justify-center p-4"
        >
          <div 
            v-for="i in 10"
            :key="i"
            class="flex"
          >
            <Card
              border
              margin="2px"
              padding="5px"
              style="height: 200px; width: 200px;"
              class="flex items-center justify-center"
            >
              <span 
                class="flex"
              >
                Content
              </span>
            </Card>
          </div>
        </div>
      </template>
      <template #bottom>
        <div class="flex w-full justify-between bg-white px-4 border-t bg-gray-300">
          <Button
            type="plain"
          >
            Action 1
          </Button>

          <Button
            type="plain"
          >
            Action 2
          </Button>

          <Button
            type="plain"
          >
            Action 3
          </Button>
        </div>
      </template>
    </Modal>

  </div>
</template>

<script>
export default {
  layout: 'sub_content',
  data: () => ({
    modal: false,
    appbar: true,
    scrollY: 0
  }),
  methods: {
    handleScroll() {
      if(this.scrollY < window.scrollY + 10) {
        this.scrollY = window.scrollY
      } else {
        this.scrollY = window.scrollY
      }
    }
  },
  mounted() {
    // window.addEventListener('scroll', this.handleScroll);
  },
  beforeDestroy() {
    // window.removeEventListener('scroll', this.handleScroll);
  }
}
</script>

<style>
html {
    /* scroll-snap-type: mandatory; */
    /* scroll-snap-points-y: repeat(100vh); */
    /* scroll-snap-points-y: repeat(180px);
    scroll-snap-type: y mandatory; */
}
</style>