<template>
  <div 
    class="timeline timeline--dense"
    style="width: 100%; margin-right: auto; margin-left: auto;"
    :style="{'--line-color': lineColor}"
  >
    <slot />
  </div>
</template>

<script>
export default {
  props: {
    lineColor: {
      type: String,
      default: 'rgba(0, 0, 0, 0.12)'
    }
  }
}
</script>

<style scoped>
::before, ::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

.timeline {
    padding-top: 24px;
    position: relative;
}

.timeline:before {
    bottom: 0;
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    width: 2px;
}

.timeline::before {
    background: var(--line-color);
}

.timeline--dense:not(.timeline--reverse):before {
    left: calc(48px - 1px);
    right: initial;
}
</style>