<template>
  <div
    class="flex flex-col w-full py-4"
  >
    <div class="flex items-center justify-center">
      <div class="logo-wrapper">
        <canvas class="logo-spacer" height="166" width="166" style="position: absolute; top: -8px; left: -8px; width: 166px; height: 166px;"></canvas>

        <div
          class="business-logo"
        >
          <img 
            src="https://yukbisnis.com/applications/themes/inspinia/assets/images/logo_red.png.webp"
            style="height: 100%; width: 100%; -webkit-touch-callout: none;">
        </div>
      </div>
    </div>

    <div class="flex items-center justify-center">
      <span class="business-title truncate">
        Yukbisnis Indonesia
      </span>
    </div>

    <div class="flex items-center justify-center">
      <div class="n-card flex flex-col w-full mx-4 my-2 p-4">
        <div class="flex w-full justify-center uppercase n-text">
          Saldo Bisnis
        </div>

        <div class="flex w-full justify-center n-text"
          style="font-size: 2.5em;"
        >
          Rp 1Jt++
        </div>

        <div class="flex w-full justify-end n-text">
          selengkapnya
        </div>
      </div>
    </div>

    <div class="flex items-center justify-center">
      <div class="n-card flex flex-col w-full mx-4 my-2 p-4">
        <div class="flex w-full justify-center uppercase n-text mb-4">
          Pesanan
        </div>

        <div class="flex w-full justify-around n-text"
          style="font-size: 1em;"
        >
          <div class="flex flex-col justify-center">
            <span class="text-center">
              37
            </span>

            <span class="text-center">
              Dipesan
            </span>
          </div>

          <div class="flex flex-col justify-center">
            <span class="text-center">
              24
            </span>

            <span class="text-center">
              Sudah dibayar
            </span>
          </div>

          <div class="flex flex-col justify-center">
            <span class="text-center">
              60%
            </span>

            <span class="text-center">
              Rasio
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="flex items-center justify-center">
      <div class="n-card flex flex-col w-full mx-4 my-2 p-4">
        <div class="flex w-full justify-between capitalize n-text">
          <span>
            Kunjungi Toko
          </span>

          <span>
            &gt;
          </span>
        </div>
      </div>
    </div>

    <div class="flex items-center justify-center">
      <div class="n-card flex flex-col w-full mx-4 my-2 p-4">
        <div class="flex w-full justify-between items-center capitalize n-text">
          <div class="flex flex-col">
            <span>
              0 Pesanan
            </span>

            <span>
              Menunggu Ongkos Kirim
            </span>
          </div>

          <span>
            &gt;
          </span>
        </div>
      </div>
    </div>

    <div class="flex items-center justify-center">
      <div class="n-card flex flex-col w-full mx-4 my-2 p-4">
        <div class="flex w-full justify-between items-center capitalize n-text">
          <div class="flex flex-col">
            <span>
              0 Pesanan
            </span>

            <span>
              Menunggu Resi Pengiriman
            </span>
          </div>

          <span>
            &gt;
          </span>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
export default {
  layout: 'admin'
}
</script>

<style scoped>
.business-logo {
  background-color: #fafafa;
  background-color: rgba(var(--b3f,250,250,250),1);
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  overflow: hidden;
  position: relative;

  width: 150px;
  height: 150px;
}

.business-logo::after {
  border: 1px solid rgba(0,0,0,.0975);
  border: 1px solid rgba(var(--jb7,0,0,0),.0975);
  border-radius: 50%;
  bottom: 0;
  content: '';
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
}

.logo-spacer {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.logo-wrapper {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  display: block;
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  position: relative;

  border-radius: 160px;
  background: #eeeeee;
  box-shadow:  5px 5px 10px #d6d6d6, 
              -5px -5px 10px #ffffff;
  padding: 5px;
  margin: 5px;
}

.business-title {
  color: transparent;
  font-size: 2em;
  font-weight: 600;
  letter-spacing: 2px;
  text-shadow: 1px 1px 1px #D6E1EF99, 0 0 0 #000, 1px 1px 1px #D6E1EF00;
  -webkit-font-smoothing: antialiased;
}

.n-card {
  border-radius: 12px;
  background: #eeeeee;
  box-shadow:  5px 5px 10px #d6d6d6, 
              -5px -5px 10px #ffffff;
}

.n-text {
  color: transparent;
  font-weight: 600;
  letter-spacing: 2px;
  text-shadow: 1px 1px 1px #D6E1EF99, 0 0 0 #000, 1px 1px 1px #D6E1EF00;
  -webkit-font-smoothing: antialiased;
}
</style>