<template>
  <div
    class="flex fixed inset-0 items-center justify-center z-50"
    v-show="layer"
  >
    <transition name="fade">
      <div 
        v-if="isActive"
        class="absolute inset-0 bg-black opacity-25"
        @click="animateContent()"
      >
      </div>
    </transition>

    <transition 
      :enter-active-class="transition.enter"
      :leave-active-class="transition.leave"
    >
      <Card
        role="confirm"
        v-if="isActive"
        border
        border-width="0"
        shadow
        margin="10px"
        class="confirm w-full z-10"
        :class="[`is-${position}`, animate ? 'animate-content' :'']"
        :style="{'max-width': `${width}`}"
      >
        <template #default>
          <div 
            class="flex flex-wrap h-full justify-center items-center p-4"
          >
            <span class="confirm-text">
              {{ message }}
            </span>
          </div>
        </template>

        <template #bottom>
          <div 
            class="flex w-full bg-white h-10 mb-1 border-t"
            :class="[rtl?'flex-row-reverse':'flex-row']"
          >
            <Button
              type="plain"
              @click="handleCancel()"
              class="flex w-full"
              :color="cancelColor"
            >
              {{ cancelText }}
            </Button>

            <span
              class="flex flex-shrink-0 w-px bg-gray-400"
              style="height: inherit; content: '';"
            >
            </span>

            <Button
              type="plain"
              @click="handleOk()"
              class="flex w-full"
              :color="okColor"
            >
              {{ okText }}
            </Button>
          </div>
        </template>
      </Card>
    </transition>
  </div>
</template>

<script>
  import Card from '../Card/index.vue'
  import Button from '../Button/index.vue'
  import {removeElement, HTMLElement} from "../../../plugins/helpers/element.js";
  import eventBus from '../../../utils/bus.js'

  export default {
    components: {
      Card,
      Button,
    },
    name: 'confirm',
    props: {
      message: {
        type: String,
        required: true
      },
      position: {
        type: String,
        default: 'center',
      },
      dismissible: {
        type: Boolean,
        default: false
      },
      onClose: {
        type: Function,
        default: () => {
        }
      },
      queue: Boolean,
      container: {
        type: [Object, Function, HTMLElement],
        default: null
      },
      background: {
        type: String,
        default: 'rgb(50, 50, 50)'
      },
      cancelText: {
        type: String,
        default: 'Batal'
      },
      okText: {
        type: String,
        default: 'Ya'
      },
      cancelColor: {
        type: String,
        default: 'rgb(56, 151, 240)'
      },
      okColor: {
        type: String,
        default: 'rgb(56, 151, 240)'
      },
      rtl: {
        type:Boolean,
        default: false
      },
      width: {
        type: String,
        default: '400px'
      },
      handler: {
        type: Function
      },
    },
    data() {
      return {
        isActive: false,
        parentTop: null,
        parentBottom: null,
        parentCenter: null,
        layer: false,
        animate: false
      }
    },
    beforeMount() {
      this.setupContainer()
    },
    mounted() {
      this.showNotice();
      eventBus.$on('confirm.clear', this.close)
    },
    methods: {
      animateContent() {
        var _this = this
        if(!this.animate) {
          this.animate = true
          setTimeout(() => {
            _this.animate = false
          }, 1000)
        }
      },
      handleOk() {
        if(this.handler !== undefined) {
          this.handler(true)
        } else {
          this.isActive = false
        }
      },
      handleCancel() {
        if(this.handler !== undefined) {
          this.handler(false)
        } else {
          this.isActive = false
        }
      },
      setupContainer() {
        this.parentCenter = document.querySelector('.notices2.is-center');
        this.parentTop = document.querySelector('.notices2.is-top');
        this.parentBottom = document.querySelector('.notices2.is-bottom');
        // No need to create them, they already exists
        if (this.parentTop && this.parentBottom && this.parentCenter) return;
        if (!this.parentCenter) {
          this.parentCenter = document.createElement('div');
          this.parentCenter.className = 'notices2 is-center'
        }
        if (!this.parentTop) {
          this.parentTop = document.createElement('div');
          this.parentTop.className = 'notices2 is-top';
        }
        if (!this.parentBottom) {
          this.parentBottom = document.createElement('div');
          this.parentBottom.className = 'notices2 is-bottom'
        }
        

        const container = this.container || document.body;
        container.appendChild(this.parentCenter);
        container.appendChild(this.parentTop);
        container.appendChild(this.parentBottom);
        let containerParentClass = 'is-custom-parent';
        if (this.container) {
          this.parentCenter.classList.add(containerParentClass);
          this.parentTop.classList.add(containerParentClass);
          this.parentBottom.classList.add(containerParentClass);
        }
      },
      shouldQueue() {
        if (!this.queue) return false;
        return (
            this.parentTop.childElementCount > 0 ||
            this.parentBottom.childElementCount > 0 || 
            this.parentCenter.childElementCount > 0
        )
      },
      close() {
        this.isActive = false;
        // Timeout for the animation complete before destroying
        setTimeout(() => {
          this.$destroy();
          removeElement(this.$el)
        }, 150)
      },
      showNotice() {
        if (this.shouldQueue()) {
          // Call recursively if should queue
          setTimeout(() => this.showNotice(), 250);
          return
        }
        this.correctParent.insertAdjacentElement('afterbegin', this.$el);
        this.isActive = true;
      },
      onClick() {
        if (!this.dismissible) return;
        this.onClose.apply(null, arguments);
        this.close()
      }
    },
    computed: {
      correctParent() {
        switch (this.position) {
          case 'center':
            return this.parentCenter;
          case 'top-right':
          case 'top':
          case 'top-left':
            return this.parentTop;
          case 'bottom-right':
          case 'bottom':
          case 'bottom-left':
            return this.parentBottom;
        }
      },
      transition() {
        switch (this.position) {
          case 'center':
            return {
              enter: 'fadeIn',
              leave: 'fadeOut'
            }
          case 'top-right':
          case 'top':
          case 'top-left':
            return {
              enter: 'fadeInDown',
              leave: 'fadeOut'
            };
          case 'bottom-right':
          case 'bottom':
          case 'bottom-left':
            return {
              enter: 'fadeIn',
              leave: 'fadeOut'
            }
        }
      },
    },
    watch: {
      isActive: {
        handler: function(newVal, oldVal) {
          if(newVal) {
            document.querySelector('html').style['overflow-y'] = 'hidden'
            this.layer = true
          } else {
            document.querySelector('html').style['overflow-y'] = 'auto'
            var _this = this
            setTimeout(function() {
              _this.layer = false
            }, 250)
          }
        }
      }
    }
  }
</script>

<style lang="css">
@keyframes fadeOut{
    from{
        opacity:1
    }
    to{
        opacity:0
    }
}
.fadeOut{
    animation-name:fadeOut
}
@keyframes fadeInDown{
    from{
        opacity:0;
        /* transform:translate3d(0, -100%, 0) */
    }
    to{
        opacity:1;
        /* transform:none */
    }
}
.fadeInDown{
    animation-name:fadeInDown
}
@keyframes fadeIn{
    from{
        opacity:0;
        /* transform:translate3d(0, 100%, 0) */
    }
    to{
        opacity:1;
        /* transform:none */
    }
}
.fadeIn{
    animation-name:fadeIn
}
.fade-enter-active,.fade-leave-active{
    transition:opacity 150ms ease-out
}
.fade-enter,.fade-leave-to{
    opacity:0
}

.notices2.is-center{
    flex-direction:column;
    justify-content: center;
}

/* @media screen and (max-width: 768px){
    .notices2{
        padding:0;
        position:fixed !important
    }
} */


@-webkit-keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
            transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
            transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
            transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
            transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
            transform: translate3d(0,-4px,0);
  }
}

@keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
            transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
            transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
            transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
            transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
            transform: translate3d(0,-4px,0);
  }
}

@-webkit-keyframes zigzag {
  0% {
    -webkit-transform: none;
            transform: none;
  }

  15% {
    -webkit-transform: translate3d(-25%, 0, 0);
            transform: translate3d(-25%, 0, 0);
  }

  30% {
    -webkit-transform: translate3d(20%, 0, 0);
            transform: translate3d(20%, 0, 0);
  }

  45% {
    -webkit-transform: translate3d(-15%, 0, 0);
            transform: translate3d(-15%, 0, 0);
  }

  60% {
    -webkit-transform: translate3d(10%, 0, 0);
            transform: translate3d(10%, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-5%, 0, 0);
            transform: translate3d(-5%, 0, 0);
  }

  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes wobble {
  0% {
    -webkit-transform: none;
            transform: none;
  }

  15% {
    -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
            transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }

  30% {
    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
            transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }

  45% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
            transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }

  60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
            transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }

  75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
            transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }

  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes wobble {
  0% {
    -webkit-transform: none;
            transform: none;
  }

  15% {
    -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
            transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }

  30% {
    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
            transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }

  45% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
            transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }

  60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
            transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }

  75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
            transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }

  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes zigzag {
  0% {
    -webkit-transform: none;
            transform: none;
  }

  15% {
    -webkit-transform: translate3d(-25%, 0, 0);
            transform: translate3d(-25%, 0, 0);
  }

  30% {
    -webkit-transform: translate3d(20%, 0, 0);
            transform: translate3d(20%, 0, 0);
  }

  45% {
    -webkit-transform: translate3d(-15%, 0, 0);
            transform: translate3d(-15%, 0, 0);
  }

  60% {
    -webkit-transform: translate3d(10%, 0, 0);
            transform: translate3d(10%, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-5%, 0, 0);
            transform: translate3d(-5%, 0, 0);
  }

  100% {
    -webkit-transform: none;
            transform: none;
  }
}

.animate-content {
  animation-duration:1000ms !important;
  -webkit-animation-name: wobble;
          animation-name: wobble;
}
</style>