<template>
  <div
    class="timeline-item"
  >
    <div class="timeline-item__body">
      <div class="flex flex-wrap flex-1 justify-between"
        style="margin-right: -12px; margin-left: -12px;"
      >
        <slot />
      </div>
    </div>

    <div
      class="timeline-item__divider"
    >
      <div
        class="timeline-item__dot timeline-item__dot--small bg-white"
      >
        <div 
          class="timeline-item__inner-dot"
          :style="{'background-color': `${color} !important`, 'border-color': `${color} !important`}"
        >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    color: {
      type: String,
      default: '#9e9e9e'
    }
  }
}
</script>

<style scoped>
.timeline-item {
    display: flex;
    padding-bottom: 24px;
}

.timeline--dense .timeline-item {
    flex-direction: row-reverse !important;
}


.timeline-item__body {
    position: relative;
    height: 100%;
    flex: 1 1 auto;
}

.timeline--dense .timeline-item__body {
    max-width: calc(100% - 96px);
}




.timeline-item__divider {
  position: relative;
  min-width: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
}






.timeline-item__dot {
  z-index: 2;
  border-radius: 50%;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  height: 38px;
  left: calc(50% - 19px);
  width: 38px;
}

.timeline-item__dot--small {
  height: 24px;
  left: calc(50% - 12px);
  width: 24px;
}










.timeline-item__inner-dot {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timeline-item__dot .timeline-item__inner-dot {
    height: 30px;
    margin: 4px;
    width: 30px;
}

.timeline-item__dot--small .timeline-item__inner-dot {
    height: 18px;
    margin: 3px;
    width: 18px;
}


</style>