<template>
    <!-- :color="$vuetify.theme.dark ? undefined : 'grey darken-4'" -->
  <Card
    :id="id"
    class="v-markup"
    outlined
    background="#1F1F1F"
    style="text-shadow: none;"
    margin="0"
  >
    <prism
      v-if="$slots.default || code"
      :language="language"
      :code="code"
      :inline="inline"
    ><slot /></prism>

    <div
      v-if="filename"
      class="v-markup__edit"
    >
      <a
        :href="href"
        target="_blank"
        rel="noopener"
        title="Edit code"
        aria-label="Edit code"
      >
        <v-icon>mdi-pencil</v-icon>
      </a>
    </div>

    <div
      v-if="!hideCopy"
      class="v-markup__copy"
    >
      <!-- <v-icon
        title="Copy code"
        aria-label="Copy code"
        @click="copyMarkup"
      >
        mdi-content-copy
      </v-icon> -->
      <div 
        class="v-icon"
        @click="copyMarkup"
      >
        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
          <path fill="currentColor" d="M19,21H8V7H19M19,5H8A2,2 0 0,0 6,7V21A2,2 0 0,0 8,23H19A2,2 0 0,0 21,21V7A2,2 0 0,0 19,5M16,1H4A2,2 0 0,0 2,3V17H4V3H16V1Z" />
        </svg>
      </div>
      

      <!-- <v-slide-x-transition>
        <span
          v-if="copied"
          class="v-markup__copied"
        >Copied</span>
      </v-slide-x-transition> -->
    </div>

    <a
      v-if="filename && file"
      :href="href"
      target="_blank"
      rel="noopener"
      class="v-markup__filename"
    >
      <span v-text="file" />
    </a>
  </Card>
</template>

<script>
  // Prism
  import 'prismjs'
  import 'prismjs/components/prism-bash.js'
  import 'prismjs/components/prism-css.js'
  import 'prismjs/components/prism-javascript.js'
  import 'prismjs/components/prism-json.js'
  import 'prismjs/components/prism-sass.js'
  import 'prismjs/components/prism-scss.js'
  import 'prismjs/components/prism-stylus.js'
  import 'prismjs/components/prism-typescript.js'
  
  // import 'prismjs/themes/prism.css'
  import 'prismjs/themes/prism-okaidia.css'
  // import 'prismjs/themes/prism-tomorrow.css'
  // import 'prismjs/themes/prism-funky.css'
  
  // Utilities
  // import { getBranch } from '@/util/helpers'
  export default {
    name: 'Markup',
    components: {
      Prism: () => import('vue-prism-component'),
    },
    props: {
      lang: {
        type: String,
        default: undefined,
      },
      inline: Boolean,
      value: {
        type: String,
        default: 'markup',
      },
      filename: {
        type: Boolean,
        default: process.env.NODE_ENV !== 'production',
      },
      hideCopy: Boolean,
    },
    data: vm => ({
      code: null,
      copied: false,
      language: vm.lang,
      branch: null,
    }),
    computed: {
      file () {
        const split = this.value.split('_')
        const folder = split.shift()
        const file = split.join('_')
        return `${folder}/${file}.txt`
      },
      href () {
        return `https://github.com/vuetifyjs/vuetify/tree/${this.branch}/packages/docs/src/snippets/${this.file}`
      },
      id () {
        if (this.value === 'markup') return
        return 'markup-' + this.value.replace(/_/g, '-')
      },
    },
    mounted () {
      this.$nextTick(this.init)
      // this.branch = getBranch()
      this.branch = '/'
    },
    methods: {
      copyMarkup () {
        const markup = this.$el.querySelector('pre')
        markup.setAttribute('contenteditable', 'true')
        markup.focus()
        document.execCommand('selectAll', false, null)
        this.copied = document.execCommand('copy')
        markup.removeAttribute('contenteditable')
        setTimeout(() => { this.copied = false }, 2000)
      },
      init () {
        if (this.$slots.default || !this.value) return
        // import(`@/snippets/${this.file}`)
        //   .then(this.parseRaw)
        //   .catch(err => console.log(err))
      },
      parseRaw (res) {
        this.language = this.lang || this.value.split('_').shift()
        this.code = res.default.trim()
      },
    },
  }
</script>

<style scoped>
   .v-markup {
  /* align-items: center; */
  box-shadow: none;
  display: flex;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  margin-bottom: 16px;
  background: #2d2d2d;
  color: #fff;
}
 .v-markup.theme--dark {
  background: #1f1f1f;
}
 .v-markup pre,
 .v-markup code {
  margin: 0;
  background: transparent;
  font-family: 'Inconsolata', monospace;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.55;
  /* text-shadow: none; */
}
 .v-markup code {
  position: relative;
  box-shadow: none;
  overflow-x: auto;
  overflow-y: hidden;
  word-break: break-word;
  flex-wrap: wrap;
  align-items: center;
  vertical-align: middle;
  white-space: pre-wrap;
}
 .v-markup code:before {
  display: none;
}
 .v-markup__copied {
  position: absolute;
  top: 12px;
  right: 75px;
}
 .v-markup__copy,
 .v-markup__edit {
  position: absolute;
  top: 0;
  cursor: pointer;
  width: 25px;
  height: 25px;
  z-index: 1;
}
 .v-markup__copy {
  right: 0;
}
 .v-markup__edit {
  right: 36px;
}
 .v-markup__edit > a {
  color: inherit;
  text-decoration: none;
}
 .v-markup a.v-markup__filename {
  text-decoration: none;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 8px 12px 8px 8px;
  font-size: 12px;
  color: rgba(255,255,255,0.56);
}
 .v-markup:after {
  position: absolute;
  right: 10px;
  transition: opacity 0.2s ease-in;
  content: attr(data-lang);
  color: rgba(0,0,0,0.3);
  font-size: 1rem;
  font-weight: 700;
  top: 5px;
}
 .v-markup:hover .v-markup__copy .v-icon,
 .v-markup:hover .v-markup__edit .v-icon {
  opacity: 1;
}
 .v-markup:hover .v-markup__copy:after,
 .v-markup:hover .v-markup__edit:after {
  opacity: 0;
}
 .v-markup .v-markup__copy .v-icon,
 .v-markup .v-markup__edit .v-icon {
  color: inherit;
  position: absolute;
  right: 0;
  transition: opacity 0.2s ease-in;
  font-size: 1.5rem;
  opacity: 0;
  top: 0;
  width: 50px;
  height: 50px;
  z-index: 4;
}
 .v-markup code[class*="language-"],
 .v-markup pre[class*="language-"] {
  color: #ccc;
  background: none;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1rem;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  tab-size: 4;
  hyphens: none;
}
 .v-markup pre[class*="language-"] {
  padding: 1rem;
  margin: 0;
  overflow: auto;
}
 .v-markup :not(pre) > code[class*="language-"] {
  padding: 0.1rem;
  border-radius: 0.3rem;
  white-space: normal;
}
 .v-markup .token.comment,
 .v-markup .token.block-comment,
 .v-markup .token.prolog,
 .v-markup .token.doctype,
 .v-markup .token.cdata {
  color: #999;
}
 .v-markup .token.punctuation {
  color: #ccc;
}
 .v-markup .token.tag,
 .v-markup .token.attr-name,
 .v-markup .token.namespace,
 .v-markup .token.deleted {
  color: #e2777a;
}
 .v-markup .token.function-name {
  color: #6196cc;
}
 .v-markup .token.boolean,
 .v-markup .token.number,
 .v-markup .token.function {
  color: #f08d49;
}
 .v-markup .token.property,
 .v-markup .token.class-name,
 .v-markup .token.constant,
 .v-markup .token.symbol {
  color: #f8c555;
}
 .v-markup .token.selector,
 .v-markup .token.important,
 .v-markup .token.atrule,
 .v-markup .token.keyword,
 .v-markup .token.builtin {
  color: #cc99cd;
}
 .v-markup .token.string,
 .v-markup .token.char,
 .v-markup .token.attr-value,
 .v-markup .token.regex,
 .v-markup .token.variable {
  color: #7ec699;
}
 .v-markup .token.operator,
 .v-markup .token.entity,
 .v-markup .token.url {
  color: #67cdcc;
}
 .v-markup .token.important,
 .v-markup .token.bold {
  font-weight: bold;
}
 .v-markup .token.italic {
  font-style: italic;
}
 .v-markup .token.entity {
  cursor: help;
}
 .v-markup .token.inserted {
  color: #008000;
}

</style>