<template>
  <button 
    class="v-btn v-btn--flat v-btn--icon v-btn--round theme--light v-size--default"
    @click="$emit('click')"
  >
    <slot />
  </button>
</template>

<style scoped>
.v-btn {
    align-items: center;
    border-radius: 4px;
    display: inline-flex;
    flex: 0 0 auto;
    font-weight: 500;
    letter-spacing: 0.0892857143em;
    justify-content: center;
    outline: 0;
    position: relative;
    text-decoration: none;
    text-indent: 0.0892857143em;
    text-transform: uppercase;
    transition-duration: 0.28s;
    transition-property: box-shadow, transform, opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}
.v-btn--icon, .v-btn--fab {
    min-height: 0;
    min-width: 0;
    padding: 0;
}
.v-btn--outlined, .v-btn--flat, .v-btn--text {
    background-color: transparent;
}
.v-btn--round {
    border-radius: 50%;
}
button, [type=button], [type=reset], [type=submit], [role=button] {
    cursor: pointer;
}
button, html [type=button], [type=reset], [type=submit] {
    -webkit-appearance: button;
}
.theme--light.v-btn {
    color: rgba(0, 0, 0, 0.87);
}
.v-btn.v-size--default {
    font-size: 0.875rem;
}
.v-btn:not(.v-btn--disabled) {
    will-change: box-shadow;
}
.v-btn--icon.v-size--default {
    height: 36px;
    width: 36px;
}
.theme--light.v-btn.v-btn--icon {
    color: rgba(0, 0, 0, 0.54);
}
.v-toolbar__content .v-btn.v-btn--icon.v-size--default, .v-toolbar__extension .v-btn.v-btn--icon.v-size--default {
    height: 48px;
    width: 48px;
}
</style>