<template>
  <hr class="divider theme--dark" />
</template>

<style scoped>
.divider {
    display: block;
    flex: 1 1 0px;
    max-width: 100%;
    height: 0px;
    max-height: 0px;
    border: solid;
    border-width: thin 0 0 0;
    transition: inherit;
}

.divider.theme--dark {
  border-color: rgba(255, 255, 255, 0.12);
}
</style>