<template>
  <div class="flex item-group p-2">
    <slot />
  </div>
</template>

<style scoped>
.item-group {
    flex: 0 1 auto;
    position: relative;
    max-width: 100%;
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
}
</style>