<template>
  <div
    @click="$emit('click')"
    class="cursor-pointer select-none hover:text-blue-500"
    @mouseover="active = true"
    @mouseleave="active = false"
  >
    <!-- <span>
      <slot name="default">
        Default
      </slot>
    </span> -->
    
    <slot name="activator" :on="{active: active}">
      Activator
    </slot>
  </div>
</template>

<script>
export default {
  data: () => ({
    active: false
  })
}
</script>

<style scoped>
.v-tooltip {
    display: none;
}
</style>