<template>
  <div
    class="v-sheet v-sheet--tile theme--light v-toolbar v-toolbar--dense v-toolbar--flat grey lighten-3"
    style="height: 48px;"
  >
    <div 
      class="v-toolbar__content"
      style="height: 48px;"
    >
      <slot />
    </div>
  </div>
</template>

<style scoped>
.v-toolbar {
    contain: layout;
    display: block;
    flex: 1 1 auto;
    max-width: 100%;
    transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1) transform, 0.2s cubic-bezier(0.4, 0, 0.2, 1) background-color, 0.2s cubic-bezier(0.4, 0, 0.2, 1) left, 0.2s cubic-bezier(0.4, 0, 0.2, 1) right, 280ms cubic-bezier(0.4, 0, 0.2, 1) box-shadow, 0.25s cubic-bezier(0.4, 0, 0.2, 1) max-width, 0.25s cubic-bezier(0.4, 0, 0.2, 1) width;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.v-toolbar--flat {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
}
.v-sheet {
    border-radius: 4px;
}
.v-sheet--tile {
    border-radius: 0;
}
.theme--light.v-sheet {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    color: rgba(0, 0, 0, 0.87);
}
/* .v-application  */
.grey {
    background-color: #9e9e9e !important;
    border-color: #9e9e9e !important;
}
.theme--light.v-toolbar.v-sheet {
    background-color: #FFFFFF;
}
/* .v-application  */
.grey.lighten-3 {
    background-color: #eeeeee !important;
    border-color: #eeeeee !important;
}
.v-card > *:first-child:not(.v-btn):not(.v-chip), .v-card > .v-card__progress + *:not(.v-btn):not(.v-chip) {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}


.v-toolbar__content, .v-toolbar__extension {
    padding: 4px 16px;
}
.v-toolbar__content, .v-toolbar__extension {
    align-items: center;
    display: flex;
    position: relative;
    z-index: 0;
}
.v-toolbar--dense .v-toolbar__content, .v-toolbar--dense .v-toolbar__extension {
    padding-top: 0;
    padding-bottom: 0;
}
</style>