<template>
  <div 
    class="window flex relative max-w-full"
    style="transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);"
  >
    <div class="window__container w-full">
      <slot />
    </div>
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: String
    }
  }
}
</script>

<style scoped>
.window__container {
    height: inherit;
    position: relative;
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
}
</style>