<template>
  <div :style="{'display': $parent.value === value ? '' : 'none'}">
    <slot />
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: String
    }
  },
}
</script>