<template>
  <div class="flex h-full relative">
    <div class="flex absolute inset-0 justify-between items-center"
      style="border-radius: 10px; background: black;"
    >
      <span class="flex pl-4 text-white">
        {{ label }}
      </span>

      <span class="flex pr-4 text-white">
        {{ internalValue }}
      </span>
    </div>

    <input 
      type="range" 
      :min="min" 
      :max="max" 
      :step="step" 
      :value="internalValue" ref="track"
    >
  </div>

  
</template>

<script>
export default {
  props: {
    value: {
      type: [String, Number],
      default: 1
    },
    min: {
      type: [String, Number],
      default: 1
    },
    max: {
      type: [String, Number],
      default:10
    },
    step: {
      type: [String, Number],
      default: 1
    },
    label: {
      type: String,
      default: ''
    }
  },
  data: () => ({
    focus: false
  }),
  computed: {
    internalValue: {
      get: function() {
        return this.value
      },
      set: function(newVal) {
        this.$emit('input', newVal)
      }
    }
  },
  methods: {
    drawProggress(value) {
      var el = this.$refs.track
      var percent = Math.round( (Math.round(value) - this.min) / ((this.max - this.min) / 100));
      el.style['background-image'] = '-webkit-gradient(linear, left top, right top, ' +
        'color-stop(' + percent + '%, rgba(255, 255, 255, 0.4)), ' +
        'color-stop(' + percent + '%, rgba(255, 255, 255, 0.2))' +
      ')'
    },
    onMouseMove(ev) {
      this.internalValue = this.parseMouseMove(ev)
    },
    parseMouseMove(ev) {
      var el = this.$refs.track
      var { left, width } = el.getBoundingClientRect() 
      const clickOffset = ev['touches'] ? ev.touches[0]['clientX'] : ev['clientX']
      let clickPos = Math.min(Math.max((clickOffset - left) / width, 0), 1) || 0
      const value = parseFloat(this.min) + clickPos * (this.max - this.min)

      this.drawProggress(value)
      
      return Math.round(value)
    }
  },
  mounted() {
    var _this = this
    const rangeSlider = this.$refs.track

    this.drawProggress(this.internalValue)

    rangeSlider.addEventListener('touchstart', this.onMouseMove)
    
    rangeSlider.addEventListener('mousedown', (ev) => {
      _this.focus = true
      _this.onMouseMove(ev)
    })

    rangeSlider.addEventListener('mousemove', (ev) => {
      if(_this.focus) {  
        _this.onMouseMove(ev)
      }
    })

    rangeSlider.addEventListener('touchmove', this.onMouseMove)
    
    rangeSlider.addEventListener('mouseup', (ev) => {
      _this.focus = false
      _this.onMouseMove(ev)
    })
    // rangeSlider.addEventListener('touchend', this.onMouseMove)
  },
  beforeDestroy() {
    var _this = this
    const rangeSlider = this.$refs.track
    rangeSlider.removeEventListener('touchstart', this.onMouseMove)
    
    rangeSlider.removeEventListener('mousedown', (ev) => {
      _this.focus = true
      _this.onMouseMove(ev)
    })

    rangeSlider.removeEventListener('mousemove', (ev) => {
      if(_this.focus) {  
        _this.onMouseMove(ev)
      }
    })

    rangeSlider.removeEventListener('touchmove', this.onMouseMove)
    
    rangeSlider.removeEventListener('mouseup', (ev) => {
      _this.focus = false
      _this.onMouseMove(ev)
    })
  }
}
</script>

<style scoped>
input[type=range] {
    -webkit-appearance: none;
    -moz-apperance: none;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    position: relative;
    
    /* background-image: -webkit-gradient(linear,
        left top, 
        right top, 
        color-stop(15%, #df7164),
        color-stop(15%, #F5D0CC)); */
    
    /* background-image: -moz-linear-gradient(left center,
        #DF7164 0%, #DF7164 15%,
        #F5D0CC 15%, #F5D0CC 100%); */

    background: rgba(255, 255, 255, 0.2);
}

input[type="range"]::-moz-range-track {
    border: none;
    background: none;
    outline: none;
}

input[type=range]:focus {
    outline: none;
    border: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    /* background-color: #df7164; */
    background-color: blue;
    height: 25px;
    width: 5%;
    border-radius: 10%;
    opacity: 0;
}

input[type=range]::-moz-range-thumb {
    -moz-appearance: none !important;
    /* background-color: #df7164; */
    background-color: red;
    border: none;
    height: 25px;
    width: 5%;
    border-radius: 10%;
    opacity: 0;
}
</style>