<template>
  <div class="flex w-full"
    style="height: calc(100vh - 64px);"
  >
    <div class="flex flex-col flex-grow bg-white"
    >
      <div class="flex">
        Content
      </div>
    </div>

    <div 
      class="flex flex-col absolute right-0 top-0 bottom-0"
      style="width: 100%; max-width: 602px;"
    >
      <div class="flex justify-around text-white rounded-full m-px p-1"
        style="background: rgba(0, 0, 0, 0.8)"
      >
        <div
          v-for="(menu, index) in configMenu"
          :key="index"
          class="flex flex-1 justify-center items-center rounded-full px-2 py-1 mx-2 cursor-pointer select-none"
          :style="{background: activeTab === menu['label'] ? 'rgba(255, 255, 255, 0.2)' : 'transparent'}"
          @click="activeTab = menu['label']"
        >
          <span>
            {{ menu['label'] }}
          </span>
        </div>
      </div>

      <div 
        class="flex flex-1 flex-col text-white mx-px"
        style="background: rgba(0, 0, 0, 0.8); border-top-left-radius: 20px; border-top-right-radius: 20px;"
      >
        <div
          class="flex px-4 py-2 justify-start items-center"
        >
          <span class="text-xl font-bold">
            {{ activeTab }}
          </span>
        </div>

        <div class="flex flex-col mx-2">
          <SeekBar
            v-model="opacity"
            min="0"
            max="100"
            label="Opacity"
            class="mb-2"
          >
          </SeekBar>

          <SeekBar
            v-model="blur"
            min="0"
            max="50"
            label="Blur"
            class="mb-2"
          >
          </SeekBar>

          <SeekBar
            v-model="offset"
            min="0"
            max="50"
            label="Offset"
          >
          </SeekBar>
        </div>
      </div>
    </div>
    
  </div>
</template>

<script>
export default {
  data: () => ({
    configMenu: [
      {
        label: 'Style'
      },
      {
        label: 'Arrange'
      },
      {
        label: 'Layers'
      },
      {
        label: 'Template'
      }
    ],
    activeTab: 'Style',
    opacity: 100,
    blur: 0,
    offset: 10
  }),
}
</script>

