<template>
  <div
    class="flex flex-col w-full"
  >
    <div class="flex w-full sticky top-0 bg-white h-16 items-center select-none shadow">
      <div class="flex p-8 text-gray-600 cursor-pointer hover:text-blue-500">
        &lt;
      </div>

      <div class="flex w-full items-center justify-center truncate">
        <span class="flex truncate">
          <!-- *****+++++==========----------0000000000----------==========+++++***** -->
          Daftar Transaksi
        </span>
      </div>
      
      <div class="flex p-8 text-gray-600 cursor-pointer hover:text-blue-500">
        <!-- &gt; -->
      </div>
    </div>

    <div class="flex flex-wrap justify-center">
      <div
        v-for="i in 18"
        :key="i"
        class="flex p-1 w-full"
      >
        <Card
          border
          border-color="#e2e8f0"
          border-width="1"
          rounded="5px"
          margin="0"
          padding="0"
          shadow
          shadow-color="#ddd"
          shadow-width="0 1px 1px"
          class="flex w-full bg-white"
        >
        <template #top>
          <div class="border-b p-2">
            Top
          </div>
        </template>
        
        <template #default>
          <div 
            class="p-2 text-red-500 cursor-pointer select-none"
            @click="modal = true"
          >
            Click Me
          </div>
        </template>

        <template #bottom>
          <div class="p-2">
            Bottom
          </div>
        </template>
        </Card>
      </div>
    </div>

    <Modal
      v-model="modal"
      :persistent="true"
      width="70vw"
      height="90vh"
      background="#fff"
      class="z-10"
    >
      <template #top>
        <div class="flex w-full items-center bg-white border-b bg-gray-300">
          <span class="flex w-full px-4">
            Slot Top
          </span>

          <Button
            type="plain"
            @click="modal = false"
          >
            Close
          </Button>
        </div>
      </template>

      <template #default>
        <div 
          class="flex flex-wrap h-full justify-center p-4"
        >
          <div 
            v-for="i in 30"
            :key="i"
            class="flex"
          >
            <Card
              border
              margin="2px"
              padding="5px"
              style="height: 200px; width: 200px;"
              class="flex items-center justify-center"
            >
              <span 
                class="flex"
              >
                Content
              </span>
            </Card>
          </div>
        </div>
      </template>
      <template #bottom>
        <div class="flex w-full justify-between bg-white px-4 border-t bg-gray-300">
          <Button
            type="plain"
          >
            Action 1
          </Button>

          <Button
            type="plain"
          >
            Action 2
          </Button>

          <Button
            type="plain"
          >
            Action 3
          </Button>
        </div>
      </template>
    </Modal>

  </div>
</template>

<script>
export default {
  layout: 'admin',
  data: () => ({
    modal: false
  })
}
</script>