<template>
  <div class="flex flex-col w-full">
    <div class="flex flex-col">
      <span class="text-2xl">
        {{ component }}
      </span>
      <span class="text-2xl">
        {{ title }}
      </span>
      <span>
        {{ description }}
      </span>
    </div>

    <Card
      border
      border-color="#e2e8f0"
      border-width="1"
      rounded="5px"
      margin="8px"
      padding="0"
      shadow
      shadow-color="#bbbbbb"
      shadow-width="0 3px 3px"
    >
      <div class="flex w-full">
        <div class="tab-vertical flex w-full">
          <div class="tab-bar flex flex-col flex-grow-0">
            <span
              v-for="(tab, index) in tabs"
              :key="index"
              class="tab"
              :class="[selectedTab === tab? 'tab-active':'']"
              @click="selectedTab = tab"
            >
              {{ tab }}
            </span>
          </div>

          <div class="flex flex-col flex-grow">
            <template
              v-if="selectedTab === 'PROPS'"
            >
              <Props
                :name="component"
              >
              </Props>
            </template>

            <!-- <template
              v-else-if="selectedTab === 'SLOTS'"
            >
              <Slots />
            </template>

            <template
              v-else-if="selectedTab === 'EVENTS'"
            >
              <Events />
            </template> -->
          </div>
        </div>

        
      </div>
    </Card>
  </div>
</template>

<script>
import Card from '../Card/index.vue'
import Props from './Props.vue'
// import Slots from './Slots.vue'
// import Events from './Events.vue'

export default {
  components: {
    Card,
    Props,
    // Slots,
    // Events
  },
  props: {
    component: {
      type: String,
      required: true
    },
    title: {
      type: String,
      default: ''
      // default: 'API'
    },
    description: {
      type: String,
      default: ''
      // default: 'Select your desired component from below and see the available props, slots, events and functions.'
    }
  },
  data: () => ({
    tabs: [
      'PROPS',
      // 'SLOTS',
      // 'EVENTS',
    ],
    selectedTab: 'PROPS'
  })
}
</script>

<style scoped>
/* purgecss start ignore */
.tab-bar .tab {
  align-items: center;
  display: flex;
  flex: 0 1 auto;
  font-size: 0.875rem;
  font-weight: 500;
  justify-content: center;
  letter-spacing: 0.0892857143em;
  line-height: normal;
  line-height: normal;
  min-width: 90px;
  max-width: 360px;
  outline: none;
  padding: 0 16px;
  /* position: relative; */
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
  transition: none;
  cursor: pointer;
  justify-content: flex-start;
  height: 48px;
}

.tab-bar .tab.tab-active {
  border-left: 5px solid #47a4f1;
}
/* purgecss end ignore */
</style>