<template>
  <div class="flex flex-col w-full p-2">
    <div 
      class="flex flex-wrap w-full text-sm mb-2"
      v-for="(propData, index) in propList"
      :key="index"
    >
      <div class="flex flex-col w-1/2 sm:w-1/3 md:w-1/3">
        <span class="label">
          Name
        </span>

        <span class="prop-name">
          {{ propData['name'] }}
        </span>
      </div>

      <div class="flex flex-col w-1/2 sm:w-1/3 md:w-1/3">
        <span class="flex label">
          Type
        </span>

        <span class="prop-text">
          {{ propData['type'] }}
        </span>
      </div>

      <div class="flex flex-col w-1/2 sm:w-1/3 md:w-1/3">
        <span class="label">
          Default
        </span>

        <span class="prop-text">
          {{ propData['default'] }}
        </span>
      </div>

      <div 
        v-if="propData['description']"
        class="flex flex-col w-full sm:w-full md-1/3">
        <span class="label">
          Description
        </span>

        <span class="prop-description">
          {{ propData['description'] }}
        </span>
      </div>

      <hr class="flex w-full separator mt-2" />
    </div>
  </div>
</template>

<script>
export default {
  props: {
    name: {
      type: String
    }
  },
  data: () => ({
    propList: []
  }),
  mounted() {
    var _this = this
    const Component = () => import('../'+this.name)
    Component().then(obj => {
      const props = obj.default['props']
      if(props) {
        Object.keys(props).map((name) => {
          var type = undefined
          if(props[name]['type']) {
            if(typeof(props[name]['type']) === 'object') {
              const names = []
              props[name]['type'].map(fn => {
                names.push(fn['name'])
              })
              type = names.join(' | ')
            } else {
              type = props[name]['type']['name']
            }
          }

          var _default = undefined
          _default = typeof(props[name]['default']) === 'boolean' ? props[name]['default'].toString() : props[name]['default']
          _default = _default === undefined ? 'undefined' : _default

          _this.propList.push({
            name: name.replace(/([a-z0-9]|(?=[A-Z]))([A-Z])/g, '$1-$2').toLowerCase(),
            type: type,
            default: _default,
            description: props[name]['description'] ? props[name]['description'] : undefined,
          })  
        })
      }
    })
  }
}
</script>

<style scoped>
/* purgecss start ignore */
.label {
  text-transform: capitalize;
  font-size: 0.625rem;
  font-weight: 400;
  letter-spacing: 0.1666666667em !important;
  line-height: 1rem;
}

.prop-name {
  color: #d63200; 
  font-weight: 500; 
  font-size: 14px;
}

.prop-text {
  color: black; 
  font-weight: 500; 
  font-size: 14px;
}

.prop-description {
  color: black; 
  font-weight: 400; 
  font-size: 14px;
}

.separator {
  border-color: rgba(0, 0, 0, 0.12);
}
/* purgecss end ignore */
</style>