<template>
  <div
    class="flex p-2"
  >
    <div :class="'flex w-full bg-gray-300 p-4 text-blue-500 '+value">
      <slot />
    </div>
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: String,
      default: ''
    }
  }
}
</script>

<style>
.sample1 {
  @apply bg-red-700;
}

.sample2 {
  @apply bg-yellow-500 text-green-500;
}
</style>